.idea
*.sqlite3
*.pyc
__pycache__
*.txt
!requirements.txt
ikea_parser/parsed_data
250px/
500px/
2000px/
icons/
rooms/
rooms_places/
rooms_examples/
room_places/
rooms_examples/
test.py
*.json
*/migrations/*
app/settings.py 
app/dev_settings.py
