html{
	height: 100% !important;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Loader*/
.loader{
	position: fixed;
	display: flex;
   	align-items: center;
   	justify-content: center;
	min-width: 100%;
	min-height: 100%;
	background-color: #373a48;
	z-index: 999;
}
h1 {
	position: fixed;
	display: block;
	z-index: 999;
	text-align: center;
	background-color: #FF6A00;
	color: hsla(25,100%,50%,1.00);
	border-radius: 100px;
	width: 370px;
	font: 900 800% Baskerville, 'Palatino Linotype', Palatino, serif;
	margin: auto;
}

@keyframes loading {
	from { max-width: 0; }
}

h1:before {
	content: attr(data-content);
	position: absolute;
	overflow: hidden;
	max-width: 4em;
	color: white;
	animation: loading 2s linear;
}

/*Common*/
.content{
	flex: 1 0 auto;
	min-height: 200px;
}
.grid{
    margin-left: 17vw;
    margin-right: 17vw;
    width: 66vw;
}
.left{
    float: left;
}
.right{
    float: right;
}
.grid-prod{
    margin-left: 17vw;
    margin-right: 17vw;
    width: 66vw;
}

/*Top Strip*/
#top-strip{
    background-color: #373a48;
    color: white;
    height: 2vw;
    margin: 0;
}
#top-strip p{
    margin-top: 0.2vw;
    width: 50%;
    font-size: 1vw;
}
#top-strip a{
	color:#d2d1d1;
	text-decoration: none;
}
#top-strip a:hover, #top-strip a:focus{
	text-decoration: none;
	color:white;
}

/*Logo/Shopping Cart/Price/Search*/
.logo{
    float: left;
    height: 6.3vw;
    width: 17.8vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0;
}
.price-search{
    float: right;
    width: 17.8vw;
    height: 6.3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}
.fa-shopping-basket{
	margin: 0;
	margin-top: 0.9vw;
	font-size: 2vw;
}
.price{
    float: right;
    height: 1.8vw;
    margin: 0;
    margin-top: 1.1vw;
    font-size: 1.8vw;
    font: sans-serif;
    font-weight: bold;
    font-style: italic;
}
.money-icon{
    float: right;
    display: inline-block;
    height: 1vw;
    width: 1.7vw;
    margin-top: 1.9vw;
    margin-left: 0.3vw;
    margin-right: 7.3vw
}
.search-form {
    display: inline-block;
    float: right;
    cursor: pointer;
    width: 17.8vw;
    height: 3.1vw;
    padding-left: 0.5vw;
    margin-top: 0.3vw;
    border: 0.15vw solid #e3e3e3;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
    color: #8e8c8d;
    background: url('C:/Users/Ян/Downloads/IKEA/IKEA Site/images/icons/search-icon.png'), #f3f4f5;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 3vw 3vw;
}

/*Search Results*/
#searched_query{
	float: right;
	position: absolute;
	z-index: 997;
	margin-top: 3.2vw;
	background-color: #F3F4F5;
	color: #515050;
	border: 0.15vw solid #e3e3e3;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	padding: 0;
}
#searched_query li{
	list-style-type: none;
	height: 50px;
	padding: 0;
	margin: 0;
}
#searched_query li:hover{
	background-color: #E3E3E3;
	color: #FF6C00;
	cursor: pointer;
}
#searched_query img{
	float: left;
	max-width: 50px;
	max-height: 50px;
}
#searched_query p{
	text-align: center;
	line-height: 1.2;
	height: 50px;
	padding-top: 15px;
	width: auto;
}

/*Navigation Menu*/
.navbar-light{
	background-color: #f5f5f5;
    min-height: 3.7vw;
    padding: 0;
	/*При прижатии меню к верху*/
	/*
		position: fixed;
	top: 0;
	z-index: 3; */
}
.navbar-toggler{
    margin: 0.5vw;
    height: 80%;
}
#menu-button a{
	background-color: #f5f5f5;
	display: inline-block;
	cursor: pointer;
	color: #515050;
	font-family: Verdana;
	font-size: 1.2vw;
	font-weight: bold;
	font-style: italic;
    text-align: center;
	text-decoration: none;
    padding: 0;
    padding-top: 1.2vw;
    height: 3.7vw;
    width: 25%;
    line-height: 1.1vw;
}
#menu-button a:hover{
	background-color:#e4e4e4;
    color: #ff6c00;
}
#menu-button a:active{
    background-color: #e4e4e4;
	position: relative;
	top: 1px;
}
#menu-button a:focus{
    text-decoration: none;
    background-color:#e4e4e4;
    color: #ff6c00;
}
#menu-button i{
    font-size: 1.2vw;
}

/*Dropdown Products*/
#dropdown-products i{
position: absolute;
font-size: 0.8vw;
margin-top: 0.2vw;
	left: 41.8vw;
	/*При прижатии меню к верху*/
	/*
	left: 25vw; */
}
#dropdown-products i:hover{
    color: #ff6c00;
}
#dropdown-products i:active{
    color: #ff6c00;
}
#product-list{
    display: inline-block;
    background-color: #f5f5f5;
    color: #515050;
    height: 100%;
    width: 40%;
    padding: 0;
    margin: 0;
    border-top: 0.2vw solid #e3e3e3;
    border-right: 0.2vw solid #e3e3e3;
    border-bottom: 0.2vw solid #e3e3e3;
    border-left: 0.2vw solid #e3e3e3;
}
#product-list li{
    list-style-type: none;
    background-color: #f5f5f5;
	display: inline-block;
	cursor: pointer;
	color: #515050;
	font-family: Verdana;
	font-size: 0.8vw;
	font-weight: bold;
	font-style: italic;
    text-align: left;
	text-decoration: none;
    padding-top: 0.4vw;
    padding-left: 1vw;
    padding-right: 0.5vw;
    padding-bottom: 0vw;
    margin: 0;
    height: 2vw;
    width: 100%;
}
#product-list li:hover{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-list li:active{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-list li:focus{
	text-decoration: none;
    background-color:#e4e4e4;
    color: #ff6c00;
}
#product-categories{
    display: inline-block;
	float: right;
    background-color: #f5f5f5;
    color: #515050;
    height: 100%;
    width: 60%;
    padding: 0;
    margin: 0;
    border-top: 0.2vw solid #e3e3e3;
    border-right: 0.2vw solid #e3e3e3;
	border-bottom: 0.2vw solid #e3e3e3;
	border-left: 0.2vw solid #e3e3e3;
}
#product-categories li{
    list-style-type: none;
    background-color: #f5f5f5;
	display: inline-block;
	cursor: pointer;
	color: #515050;
	font-family: Verdana;
	font-size: 0.8vw;
	font-weight: bold;
	font-style: italic;
    text-align: left;
	text-decoration: none;
    padding-top: 0.4vw;
    padding-left: 1vw;
    padding-right: 0.5vw;
    padding-bottom: 0vw;
    margin: 0;
    height: 2vw;
    width: 100%;
}
#product-categories li:hover{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-categories li:active{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-categories li:focus{
	text-decoration: none;
    background-color:#e4e4e4;
    color: #ff6c00;
}

/*Footer*/
#myFooter{
	background-color: #373a48;
    margin-top: 10vw;
	color: white;
    flex: 0 0 auto;
}
#myFooter .footer-copyright{
	background-color: #383737;
	text-align: center;
}
#myFooter .footer-copyright p{
	margin: 0.3vw;
	color: #ccc;
}
#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 0.5vw;
}
#myFooter ul{
	list-style-type: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}
#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}
#myFooter .myCols{
	text-align: center;
}
#myFooter .social-networks{
	text-align: center;
}
#myFooter .social-networks a{
    font-size: 40px;
    margin-right: 3px;
    margin-left: 3px;
    color: #f9f9f9;
    padding: 1vw;
    transition: 0.2s;
}
#myFooter .social-networks a:hover{
	text-decoration: none;
}
#myFooter .facebook:hover{
	color: dodgerblue;
}
#myFooter .instagram:hover{
	color: deeppink;
}
#myFooter .vk:hover{
	color: cornflowerblue;
}

/*!Home Page!*/

/*Sale Banner*/
.sale-banner{
    height: 20.4vw;
    margin-bottom: 1vw;
}
.sale-banner-item{
    height: 20.4vw;
}
.carousel-indicators{
    margin-bottom: 0;
}
#carouselExampleIndicators li{
    height: 0.17vw;
    width: 1.6vw;
}
.btn-prev{
    margin-right: 8.3vw;
}
.btn-next{
    margin-left: 8.3vw;
}

/*Cards On Home Page */
.card-item-large{
    position: relative;
    height: 17.8vw;
    width: 55.5%;
    margin-bottom: 1.1vw;
}
.card-item-small{
    position: relative;
    height: 17.8vw;
    width: 43%;
    margin-bottom: 1.1vw;
}
.text-on-card-large-right{
    position: absolute;
    text-align: right;
    height: 17.8vw;
    width: 36.6%;
    padding-top: 0.5vw;
    padding-right: 1.3vw;
    padding-left: 15%;
    margin-bottom: 1.1vw;
}
.text-on-card-small-right{
    position: absolute;
    text-align: right;
    height: 17.8vw;
    width: 29.4%;
    padding-right: 1.3vw;
    padding-left: 8%;
    padding-top: 0.5vw;
    margin-left: 36.6%;
    margin-bottom: 1.1vw;
}
.text-on-card-small-left{
    position: absolute;
    text-align: left;
    height: 17.8vw;
    width: 28.4%;
    padding-top: 0.5vw;
    padding-left: 0.7vw;
    padding-right: 10%;
    margin-bottom: 1.1vw;
}
.text-on-card-large-left{
    position: absolute;
    text-align: left;
    height: 17.8vw;
    width: 36.6%;
    padding-top: 0.5vw;
    padding-left: 0.7vw;
    padding-right: 15%;
    margin-left: 29.4%;
    margin-bottom: 1.1vw;
}
.name-on-card{
    font-family: "MyriadProBold";
    font-size: 3.20vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
}
.info-on-card{
    font-family: "MyriadProBold";
    font-size: 2vw;
    font-style: italic;
    line-height: 90%;
    margin: 0;
}
.price-on-card{
    float: right;
    font-family: "MyriadProBold";
    font-size: 2.6vw;
    font-style: italic;
    line-height: 90%;
    color: #ff6c00;
    width: 100%;
    margin: 0;
}

/*!Producrs Page!*/

/*Kategories And Sort*/
#get_sort{
	float: right;
    cursor: pointer;
    height: 2.1vw;
    margin: 0;
    margin-top: 0.5vw;
    border: 0.12vw solid #e3e3e3;
    border-radius: 0;
    font: normal 1.1vw/normal Arial, Helvetica, sans-serif;
    color: #515050;
    background-color: white;
}
.kat-sort{
    width: 100%;
    height: 2.6vw;
    margin-bottom: 0.5vw;
    padding-left: 0.35vw;
    padding-right: 0.35vw;
}
#kat{
    padding-top: 1.2vw;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
    margin: 0;
    color: #515050;
    height: 0vw;
}
#kat a{
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
    color: #515050;
}
#kat a:hover{
    color: #ff6c00;
}

/*Product Cards*/
#product-cards .card{
    display: inline-block;
	height: 23vw;
    width: 24.4%;
    float: left;
    margin: 0;
    margin-left: auto;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    padding: 0;
    border: 0.15vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
}
#product-cards .card-open{
    display: none;
	height: auto;
    width: 16vw;
    float: left;
	top: -5px;
	left: -3px;
    margin: 0;
    padding: 0;
    border: 0.16vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	margin-top: 0;
}
#product-cards .card:nth-child(4n){
    margin-right: 0;
}
#product-cards img{
    width: 100%;
    height: 15vw;
	border-bottom: 0.15vw solid #e3e3e3;
}
#product-cards .card-title{
	width: 100%;
	height: 2.8vw;
	color: black;
	font-family: "MyriadProBold";
    font-size: 1.5vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
	margin-top: 0.7vw;
	padding: 0;
	text-align: center;
}
#product-cards .ind-code{
    color: #515050;
	font-family: "MyriadProRegular";
	width: 100%;
    font-size: 1.1vw;
	margin: 0;
}
#product-cards .card-text{
	display: none;
	color: #515050;
	font-family: "MyriadProRegular";
    font-size: 1vw;
	margin: 0;
	margin-top: 0.3vw;
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
}
#product-cards .card-price{
	width: 100%;
    font-family: "MyriadProBold";
    font-size: 1.7vw;
    font-style: italic;
    color: #ff6c00;
	margin: 0;
}
#product-cards .fa-search-plus{
	position: absolute;
	font-size: 1.7vw;
	opacity: .5;
	right: 1.5%;
	top: 1%;
}
#product-cards .button-item {
  display: none;
  margin-top: 0vw;
  margin-bottom: 0.5vw;
  padding-bottom: 0vw;
}
#product-cards a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 0.7vw;
}
#product-cards .btn-1 {
  padding: 1em 3em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
}
#product-cards .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#product-cards .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#product-cards .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
#product-cards .card:hover .card-open{
	display: inline-block;
	z-index: 10;
	position: absolute;
	margin: 0;
}
#product-cards .card:hover .card-text{
	display: block;
}
#product-cards .card:hover .button-item{
	display: block;
}

/*In Stock*/
#product-cards .amount{
	position: absolute;
	z-index: 9;
	bottom: 3vw;
	display: none;
	justify-content: center;
	align-items: center;
	color: #ff6c00;
	background-color: #f5f5f5;
	padding: 0.5vw;
	border: 2px solid #ADA6A6;
	width: 11.5vw;
	font-size: 0.9vw;
	margin-left: 2.1vw;
	margin-right: 2.1vw;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);

}
#product-cards .button-item:hover .amount{
	display: flex;
}
#product-cards span{
	color: black;
	padding-right: 0.5vw;
}

/*Big Images*/
.img-block{
	position: fixed;
	z-index: 100;
	background-color: white;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}
.mini-img-list{
	text-align: left;
	height: 10vw;
	padding: 0;
	margin: 0;
	background-color: white;
	border-top: 0;
}
.mini-img{
	width: 10vw;
	height: 10vw;
	margin: 0;
}
.big-img-item{
	display: inline-block;
	height: 30vw;
	width: 30vw;
	max-width: 500px;
	margin: 0;
}
.close-icon{
	position: fixed;
	top: 0.5vw;
	right: 1vw;
	font-size: 3vw;
	color: #ff6c00;
	opacity: .6;
}
.close-icon:hover{
	opacity: .9;
	color: #4B4A4A;
}
.close-icon:active{
	color: #4B4A4A;
	right: 1.5vw;
	top: 0.3vw;
}
.btns-all-images{
	display: inline-block;
	float: right;
	text-align: center;
	width: 48vw;
	margin-right: 5vw;
	height: 30vw;
	padding-left: 9vw;
}
#big-img .name{
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: #4B4A4A;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 4vw;
	margin-top: 3vw;
	margin-bottom: 0;
}
#big-img .price{
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 3vw;
	color: #ff6c00;
	height: 4vw;
}
#big-img a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 1.8vw;
}
#big-img .button-item {
  margin-top: 9vw;
  padding-bottom: 3vw;
}
#big-img .btn-1 {
  padding: 1em 3em;
  border: 3px solid #ff6c00;
  transition: all 300ms ease;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
  color: #ff6c00;
}
#big-img .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#big-img .btn-1:hover {
  color: white;
  border: 3px solid #ADA6A6;
  box-shadow: none;
}
#big-img .btn-1:hover:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}


/*Pagination*/
#pagination{
    	display: inline-block;
	margin-top: 0.5vw;
	margin-left: 42.2%;
	margin-right: 42.2%;
	width: 15.6%;
}
#pagination span{
	color: #ff6c00;
}
#pagination a{
	color: #ff6c00;
	border-radius: 0;
}
#pagination li{
	border: 0.1vw solid #e3e3e3;
	border-radius: 0;
}
#pagination .page-link{
	width: 2.1vw;
	height: 2.1vw;
	font-size: 1vw;
	padding: 0;
	padding-top: 0.4vw;
	padding-left: 0.7vw;
	margin: 0;
}

/*!One Page!*/

/*Small Images*/
.one-prod-imgs{
	float: left;
	display: inline-block;
	width: 8.5vw;
	height: 34vw;
	max-height: 34vw;
	overflow: scroll;
	background-color: #f5f5f5;
}
.small-img{	
	padding: 5%;
	height: 8.5vw;
	width: 8.5vw;
}
.img-item{
	width: 100%;
	height: 100%;
}
/*Large Image*/
.one-prod-img{
	display: inline-block;
	background-color: #f5f5f5;
	width: 34vw;
	height: 34vw;
	padding: 0.7%;
}
.large-img{
	width: 100%;
	height: 100%;
}

/*Info Block*/
.info-block{
	display: inline-block;
	float: right;
	background-color: #f5f5f5;
	width: 23.5vw;
	height: 34vw;
}
.prod-name{
	width: 100%;
	height: 4.3vw;
	padding-top: 0.5vw;
	text-align: center;
	font-family: "MyriadProBold";
    font-size: 1.9vw;
	line-height: 1;
    color: #ff6c00;
}
.prod-info{
	width: 100%;
	height: 6.5vw;
	padding-bottom: 0.5vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	text-align: center;
	font-family: "MyriadProRegular";
    font-size: 1.2vw;
	line-height: 1.2;
	color: #515050;
	overflow: scroll;
}
.prod-price{
	width: 100%;
	height: 3vw;
	padding-top: 0.5vw;
	text-align: center;
	font-family: "MyriadProBold";
    font-size: 1.9vw;
	line-height: 1;
    color: #ff6c00;
}
#info-block .button-item {
  margin-top: 0vw;
  padding-bottom: 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#info-block a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 1.3vw;
}
#info-block .btn-1 {
  padding: 1em 3em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
}
#info-block .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#info-block .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#info-block .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
.model-select{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#model-select-open{
	position: absolute;
	z-index: 11;
	width:  21.2vw;
	color: #7C7979;
	background-color: white;
	border: 0.15vw solid #e3e3e3;
	border-top: 0;
	top: 3vw;
}
.model-select-item{
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	padding-left: 0;
}
#model-select-open img{
	width: 40px;
	height: 40px;
	margin-right:0.5vw;
}
.model-select-item:hover{
	background-color: #EEEEEE;
	color: #FF6C00;
	cursor: pointer;
}
#model-select-open,
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ #model-select-open {
  display: block;
}
#model-select{
	display: flex;
	align-items: center;
    cursor: pointer;
    width: 21.2vw;
    height: 3vw;
	padding-left: 0.5vw;
    border: 0.15vw solid #e3e3e3;
	color: #7C7979;
	background-color: white;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
}
#model-select .fa-cog{
	margin-left: 0.5vw;
	color: lightslategray;	
}
#model-select:hover{
	color: #FF6C00;
}
.size-select{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#size-select-open{
	position: absolute;
	z-index: 10;
	width:  21.2vw;
	color: #7C7979;
	background-color: white;
	border: 0.15vw solid #e3e3e3;
	border-top: 0;
	top: 3vw;
}
.size-select-item{
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	padding-left: 0;
}
#size-select-open img{
	width: 40px;
	height: 40px;
	margin-right:0.5vw;
}
.size-select-item:hover{
	background-color: #EEEEEE;
	color: #FF6C00;
	cursor: pointer;
}
#size-select-open,
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ #size-select-open {
  display: block;
}
#size-select{
	display: flex;
	align-items: center;
    cursor: pointer;
    width: 21.2vw;
    height: 3vw;
	padding-left: 0.5vw;
    border: 0.15vw solid #e3e3e3;
	color: #7C7979;
	background-color: white;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
}
#size-select .fa-arrows{
	margin-left: 0.5vw;
	color: lightslategray;
}
#size-select:hover{
	color: #FF6C00;
}
.color-select{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#color-select-open{
	position: absolute;
	z-index: 9;
	width:  21.2vw;
	color: #7C7979;
	background-color: white;
	border: 0.15vw solid #e3e3e3;
	border-top: 0;
	top: 3vw;
}
.color-select-item{
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
	padding-left: 0;
}
#color-select-open img{
	width: 40px;
	height: 40px;
	margin-right:0.5vw;
}
.color-select-item:hover{
	background-color: #EEEEEE;
	color: #FF6C00;
	cursor: pointer;
}
#color-select-open,
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ #color-select-open {
  display: block;
}
#color-select{
	display: flex;
	align-items: center;
    cursor: pointer;
    width: 21.2vw;
    height: 3vw;
	padding-left: 0.5vw;
    border: 0.15vw solid #e3e3e3;
	color: #7C7979;
	background-color: white;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
}
.square-1{
	color: lightsalmon;
	margin-left: 0.5vw;
}
.square-2{
	color: lightgreen;
	margin-left: 0.5vw;
}
.square-3{
	color: lightblue;
	margin-left: 0.5vw;
}
#color-select:hover{
	color: #FF6C00;
}
.amount-select{
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	width: auto;
}
#amount-select{
	display: inline-block;
    cursor: text;
    width: 21.2vw;
    height: 3vw;
	padding-left: 0.5vw;
	border: 0.15vw solid #e3e3e3;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
}

/*In Stock*/
#info-block .amount{
	position: absolute;
	z-index: 9;
	bottom: 6vw;
	display: none;
    align-items: center;
    justify-content: center;
	color: #ff6c00;
	background-color: #f5f5f5;
	padding: 0.5vw;
	border: 2px solid #ADA6A6;
	width: 21.2vw;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);

}
#info-block .button-item:hover .amount{
	display: flex;
}
#info-block span{
	color: black;
	padding-right: 0.5vw;
}

/*Cards On Pages Block*/
#content4 .card{
    display: inline-block;
	height: 23vw;
    width: 24.4%;
    float: left;
    margin: 0;
    margin-left: auto;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    padding: 0;
    border: 0.15vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
}
#content4 .card-open{
    display: none;
	height: auto;
	top: -5px;
	left: -2px;
    width: 16.5vw;
    float: left;
    margin: 0;
    padding: 0;
    border: 0.16vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	margin-top: 0;
}
#content4 .card:nth-child(4n){
    margin-right: 0;
}
#content4 img{
    width: 100%;
    height: 15vw;
	border-bottom: 0.15vw solid #e3e3e3;
}
#content4 .card-title{
	width: 100%;
	height: 2.8vw;
	color: black;
	font-family: "MyriadProBold";
    font-size: 1.5vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
	margin-top: 0.7vw;
	padding: 0;
	text-align: center;
}
#content4 .ind-code{
    color: #515050;
	font-family: "MyriadProRegular";
	width: 100%;
    font-size: 1.1vw;
	margin: 0;
}
#content4 .card-text{
	display: none;
	color: #515050;
	font-family: "MyriadProRegular";
    font-size: 1vw;
	margin: 0;
	margin-top: 0.3vw;
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
}
#content4 .card-price{
	width: 100%;
    font-family: "MyriadProBold";
    font-size: 1.7vw;
    font-style: italic;
    color: #ff6c00;
	margin: 0;
}
#content4 .fa-search-plus{
	position: absolute;
	font-size: 1.7vw;
	opacity: .5;
	right: 1.5%;
	top: 1%;
}
#content4 .button-item {
  display: none;
  position: relative;
  margin-top: 0vw;
  margin-bottom: 0.5vw;
  padding-bottom: 0vw;
}
#content4 a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 0.7vw;
}
#content4 .btn-1 {
  padding: 1em 3em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
}
#content4 .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#content4 .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#content4 .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
#content4 .card:hover .card-open{
	display: inline-block;
	z-index: 10;
	position: absolute;
	margin: 0;
}
#content4 .card:hover .card-text{
	display: block;
}
#content4 .card:hover .button-item{
	display: block;
}
/*Pages Block*/
#pages-block p {
  margin: 0 0 20px;
  line-height: 1.5;
}
main {
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  background: #fff;
}
#pages-block section {
  display: none;
  padding: 20px 0 0;
}
#pages-block input {
  display: none;
}
#pages-block label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 15px;
  font-weight: 600;
  text-align: center;
  color: #515050;
  border: 0.1vw solid transparent;
}
#pages-block label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
#pages-block label[for*='1']:before {
  content:"\f039";
}
#pages-block label[for*='2']:before {
  content:"\f129";
}
#pages-block label[for*='3']:before {
  content: '\f047';
}
#pages-block label[for*='4']:before {
  content:"\f16b";
}
#pages-block label:hover {
  color: #888;
  cursor: pointer;
}
#pages-block input:checked + label {
  color: #ff6c00;
  border: 2px solid #ddd;
  border-top: 3px solid #ff6c00;
  border-bottom: 1px solid #fff;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 962px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

/*In Stock 2*/
#pages-block .amount{
	position: absolute;
	z-index: 9;
	bottom: 2.5vw;
	left: 0.2vw;
	display: none;
	justify-content: center;
	align-items: center;
	color: #ff6c00;
	background-color: #f5f5f5;
	padding: 0.5vw;
	border: 2px solid #ADA6A6;
	width: 11.6vw;
	font-size: 0.9vw;
	margin-left: 2.1vw;
	margin-right: 2.1vw;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);

}
#pages-block .button-item:hover .amount{
	display: flex;
}
#pages-block span{
	color: black;
	padding-right: 0.5vw;
}

/*Added To Cart*/
.added-to-cart-icon{
	position: fixed;
	top: 3vw;
	right: 1vw;
	color: white;
	font-size: 9vw;
	border-radius: 100%;
	height: 10vw;
	width: 10vw;
	background-color: #FF9344;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 16;
}
.added-to-cart{
	position: fixed;
	background-color: #FFF9F7;
	color: #373a48;
	z-index: 14;
	top: 4vw;
	right: 3.5vw;
	height: 8vw;
	width: 28vw;
	padding-right: 7vw;
	padding-left: 0.8vw;
	padding-top: 0.6vw;
    border: 0.2vw solid #FF9344;
	border-radius: 0;
	font-size: 1.1vw;
	font-weight: 500;
}
.go-to-cart{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;
	color: #FF9344;
	font-size: 1.2vw;
	font-weight: 600;
	top: 9.8vw;
	right: 18.5vw;
	background-color: white;
	width: 13vw;
	height: 4vw;
	border-radius: 1vw;
    border: 0.2vw solid #FF9344;
}
.go-to-cart:hover{
	color: white;
	background-color: #FF9344;
}

/*Media Queries*/
@media screen and (max-width: 1111px){
.price-search{
    float: right;
    width: 17.8vw;
    height: 6.3vw;
    margin-top: 0.5vw
}
.fa-shopping-basket{
	margin: 0;
	margin-top: 0.9vw;
	font-size: 2vw;
}
.price{
    float: right;
    height: 1.8vw;
    margin: 0;
    margin-top: 1.6vw;
    font-size: 1.5vw;
    font: sans-serif;
    font-weight: bold;
    font-style: italic;
}
.money-icon{
    float: right;
    display: inline-block;
    height: 1vw;
    width: 1.7vw;
    margin-top: 2vw;
    margin-left: 0.3vw;
    margin-right: 7.3vw
}
.search-form {
    display: inline-block;
    float: right;
    cursor: pointer;
    width: 17.8vw;
    height: 3.1vw;
    padding-left: 0.5vw;
    margin-top: 0vw;
    border: 0.15vw solid #e3e3e3;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
    color: #8e8c8d;
    background: url('C:/Users/Ян/Downloads/IKEA/IKEA Site/images/icons/search-icon.png'), #f3f4f5;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 3vw 3vw;
}
}
@media screen and (max-width: 739px){
		    /*Product Cards*/
#product-cards .card{
    display: inline-block;
	height: 33vw;
    width: 24.4%;
    float: left;
    margin: 0;
    margin-left: auto;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    padding: 0;
    border: 0.15vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
}
#product-cards .card-body{
	height: 45%;
	width: 100%;
	position: relative;
    border-top: 0.15vw solid #e3e3e3;
	text-align: center;
	padding: 0;
}
#product-cards .card-title{
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	height: 2vw;
	color: black;
	font-family: "MyriadProBold";
    font-size: 1.5vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
	padding: 0;
	text-align: center;
}
#product-cards .card-text{
	position: absolute;
	top: 20%;
	color: #515050;
	font-family: "MyriadProBold";
    font-size: 1vw;
    font-style: italic;
	margin: 0;
	margin-top: 1vw;
	margin-left: 1%;
	margin-right: 1%;
	height: 13%;
	width: 98%;
}
#product-cards .card-price{
	position: absolute;
	bottom: 25%;
	width: 100%;
    font-family: "MyriadProBold";
    font-size: 1.7vw;
    font-style: italic;
    color: #ff6c00;
	margin: 0;
}
#product-cards .card-btns{
	position: absolute;
	bottom: 3%;
	width: 100%;
	height: 3vw;
	padding-left: 0.5%;
	margin-bottom: 5%
}
#product-cards .btn-group{
	height: 100%;
	width: 100%;
	padding-left: 3%;
	padding-right: 3%;
}
#product-cards .btn-buy{
    float: left;
    cursor: pointer;
	width: 75%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    border-right: 0;
	border-radius: 0;
    font: bold 1.3vw/normal Arial, Helvetica, sans-serif;
	text-align: center;
    color: #ff6c00;
    background-color: white;
}
#product-cards .btn-info{
    float: right;
    cursor: pointer;
    height: 100%;
	width: 75%;
    padding: 0;
	padding-left: 2%;
	padding-right: 2%;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    border-right: 0;
	border-radius: 0;
    font: bold 1.3vw/normal Arial, Helvetica, sans-serif;
	text-align: center;
    color: #ff6c00;
    background-color: white;
}
#product-cards .btn-icon-buy{
    float: left;
    cursor: pointer;
    height: 100%;
    width: 25%;
	padding: 0;
    padding-top: 0;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    background-color: white;
	border-radius: 0;
}
#product-cards .btn-icon-info{
    float: right;
    cursor: pointer;
    height: 100%;
    width: 25%;
	padding: 0;
    padding-top: 0;
    margin: 0;
    margin-right: 0.1vw;
    border: 0.15vw solid #e3e3e3;
    background-color: white;
	border-radius: 0;
}
#product-cards .fa-shopping-basket{
	position: absolute;
	left: 17%;
	top: 20%;
	margin-top: 0vw;
	font-size: 1.8vw;
}
#product-cards .fa-info{
	position: absolute;
	left: 43%;
	top: 20%;
	margin-top: 0vw;
	font-size: 1.9vw;
}
}


@media screen and (max-width: 680px){
		    /*Product Cards*/
#product-cards .card{
	height: 34vw;
}

}
@media screen and (max-width: 575px){
    /*Common*/
    .grid{
        margin-left: 1%;
        margin-right: 1%;
        width: 98%; 
    }
    .grid-prod{
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
    }
    
    /*!Home Page!*/
    
    /*Top Strip*/
    #top-strip{
        height: 4vw;
        margin: 0;
    }
    #top-strip p{
        margin-top: 0.3vw;
        font-size: 2vw;
    }
    
    /*Logo/Shopping Cart/Price/Search*/
    .logo{
        float: left;
        height: 13vw;
        width: 33vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        padding: 0;
    }
    .price-search{
		margin-top: 0.2vw;
        width: 33vw;
    }
	.fa-shopping-basket{
	margin: 0;
	margin-top: 1vw;
	font-size: 5vw;
}
    .price{
        height: 4vw;
        margin-top: 2.1vw;
        font-size: 4vw;
    }
    .money-icon{
        height: 2vw;
        width: 3.5vw;
        margin-top: 4vw;
        margin-left: 1vw;
    }  
    .search-form {
        width: 33vw;
        height: 6.5vw;
        padding-left: 0.5vw;
        margin-top: 0.3vw;
        border: 0.43vw solid #e3e3e3;
        font: normal 2.5vw/normal Arial, Helvetica, sans-serif;
    }
    
    /*Navigation Menu*/
    .navbar-light{
        min-height: 4.7vw;
        padding: 0;
    }
    .navbar-toggler{
        margin: 0.5vw;
        margin-bottom: 0.6vw;
        height: 80%;
    }
    #menu-button a{
        font-size: 3vw;
        padding: 0;
        padding-top: 1.2vw;
        height: 7vw;
        width: 100%;
    }
    
    /*Dropdown Products*/
    #dropdown-products{
        top: 60%;
        width: 100%;
        height: 150%;
        border-radius: 0;
        margin: 0;
        border: 0.2vw solid #e3e3e3;
        padding: 0vw;
    }
    #dropdown-products i{
        font-size: 0vw;
        margin-top: 0.4vw;
    }
    #product-list{
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        border-right: 0vw;
    }
    #product-list li{
        height: 12.5%;
        width: 100%;
        margin: 0;
    }
    #product-list btn{
        font-size: 2.5vw;
        text-align: center;
        padding-top: 1.5vw;
        padding-left: 1.3vw;
        padding-right: 0.5vw;
        padding-bottom: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    #product-categories{
        float: right;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }
    #product-categories li{
        list-style-type: none;
        height: 0;
        width: 0;
        margin: 0;
    }
    #product-categories btn{
        font-size: 0vw;
        text-align: center;
        padding-top: 0vw;
        padding-left: 0vw;
        padding-right: 0vw;
        padding-bottom: 0;
        margin: 0;
        height: 0%;
        width: 0%;
    }
    
    /*Sale Banner*/
    .sale-banner{
        height: 40vw;
        margin-bottom: 1vw;
    }
    .sale-banner-item{
        height: 40vw;
    }
    
    /*Cards On Home Page */
    .card-item-large{
        height: 40vw;
        width: 100%;
        margin-bottom: 1vw;
    }
    .card-item-small{
        height: 40vw;
        width: 100%;
        margin-bottom: 1vw;
    }
    .text-on-card-large-right{
        height: 40vw;
        width: 98%;
        padding-top: 1.3vw;
        padding-right: 2vw;
        padding-left: 40%;
        margin-bottom: 1vw;
    }
    .text-on-card-small-right{
        height: 40vw;
        width: 98%;
        padding-right: 2vw;
        padding-left: 40%;
        padding-top: 1.3vw;
        margin-top: 41vw;
        margin-bottom: 1vw;
        margin-left: 0;
    }
    .text-on-card-small-left{
        text-align: right;
        height: 40vw;
        width: 98%;
        padding-top: 1.3vw;
        padding-left: 40%;
        padding-right: 2vw;
        margin-bottom: 1vw;
    }
    .text-on-card-large-left{
        text-align: right;
        height: 40vw;
        width: 98%;
        padding-top: 1.3vw;
        padding-left: 40%;
        padding-right: 2vw;
        margin-left: 0;
        margin-bottom: 1vw;
        margin-top: 41vw;
    }
    .name-on-card{
        font-size: 8vw;
    }
    .info-on-card{
        font-size: 5vw;
    }
    .price-on-card{
        font-size: 7vw;
    }
    
    /*!Poducts Page!*/
    
 		    /*Product Cards*/
#product-cards .card{
    display: inline-block;
	height: 43vw;
    width: 24.4%;
    float: left;
    margin: 0;
    margin-left: auto;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    padding: 0;
    border: 0.15vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
}
#product-cards .card-body{
	height: 45%;
	width: 100%;
	position: relative;
    border-top: 0.15vw solid #e3e3e3;
	text-align: center;
	padding: 0;
}
#product-cards .card-title{
	position: absolute;
	top: 5%;
	left: 0;
	width: 100%;
	height: 2vw;
	color: black;
	font-family: "MyriadProBold";
    font-size: 1.5vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
	padding: 0;
	text-align: center;
}
#product-cards .card-text{
	position: absolute;
	top: 18%;
	color: #515050;
	font-family: "MyriadProBold";
    font-size: 1vw;
    font-style: italic;
	margin: 0;
	margin-top: 1vw;
	margin-left: 1%;
	margin-right: 1%;
	height: 13%;
	width: 98%;
}
#product-cards .card-price{
	position: absolute;
	bottom: 40%;
	width: 100%;
    font-family: "MyriadProBold";
    font-size: 1.7vw;
    font-style: italic;
    color: #ff6c00;
	margin: 0;
}
#product-cards .card-btns{
	position: absolute;
	bottom: 18%;
	width: 100%;
	height: 3.5vw;
	padding-left: 0.5%;
	margin-bottom: 5%
}
#product-cards .btn-group{
	height: 100%;
	width: 100%;
	padding-left: 3%;
	padding-right: 3%;
}
#product-cards .btn-buy{
    float: left;
    cursor: pointer;
	width: 75%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    border-right: 0;
	border-radius: 0;
    font: bold 1.3vw/normal Arial, Helvetica, sans-serif;
	text-align: center;
    color: #ff6c00;
    background-color: white;
}
#product-cards .btn-info{
    float: right;
    cursor: pointer;
    height: 100%;
	width: 75%;
    padding: 0;
	padding-left: 2%;
	padding-right: 2%;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    border-right: 0;
	border-radius: 0;
    font: bold 1.3vw/normal Arial, Helvetica, sans-serif;
	text-align: center;
    color: #ff6c00;
    background-color: white;
}
#product-cards .btn-icon-buy{
    float: left;
    cursor: pointer;
    height: 100%;
    width: 25%;
	padding: 0;
    padding-top: 0;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    background-color: white;
	border-radius: 0;
}
#product-cards .btn-icon-info{
    float: right;
    cursor: pointer;
    height: 100%;
    width: 25%;
	padding: 0;
    padding-top: 0;
    margin: 0;
    margin-right: 0.1vw;
    border: 0.15vw solid #e3e3e3;
    background-color: white;
	border-radius: 0;
}
#product-cards .fa-shopping-basket{
	position: absolute;
	left: 17%;
	top: 20%;
	margin-top: 0vw;
	font-size: 1.8vw;
}
#product-cards .fa-info{
	position: absolute;
	left: 43%;
	top: 20%;
	margin-top: 0vw;
	font-size: 1.9vw;
}
#product-cards .all-images-icon{
	display: none;
	}

/*Big Images*/
.img-block{
	position: fixed;
	z-index: 1;
	background-color: white;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}
.mini-img-list{
	text-align: center;
	height: 10vw;
	padding: 0;
	margin: 0;
	background-color: white;
	border-top: 0;
}
.mini-img{
	width: 10vw;
	height: 10vw;
	margin: 0;
}
.big-img-item{
	display: inline-block;
	height: 45vw;
	width: 45vw;
	margin: 0;
}
.close-icon{
	position: fixed;
	top: 0.5vw;
	right: 1vw;
	font-size: 3vw;
	color: #ff6c00;
	opacity: .6;
}
.close-icon:hover{
	opacity: .9;
}
.close-icon:active{
	left: 79.5vw;
	top: 0.5vw;
}
	
}
@media screen and (max-width: 489px){
	#product-cards .card{
	height: 45vw;
}

}
@media screen and (max-width: 415px){
    /*!Home Page!*/
    
    /*Top Strip*/
    #top-strip{
        height: 6vw;
        margin: 0;
    }
    #top-strip p{
        margin-top: 0.4vw;
        font-size: 3.5vw;
    }
    
    /*Logo/Shopping Cart/Price/Search*/
    .logo{
        float: left;
        height: 40vw;
        width: 100%;
        margin-top: 1vw;
        margin-bottom: 0vw;
        padding: 0;
    }
    .price-search{
        height: 11.5vw;
        width: 100%;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
	.fa-shopping-basket {
		margin-left: 0.7vw;
    	margin-top: 0.6vw;
    	font-size: 11vw;
	}
    .price{
        height: 8.5vw;
        margin-top: 3vw;
        font-size: 8.5vw;
    }
    .money-icon{
        height: 4vw;
        width: 6.5vw;
        margin-top: 7.5vw;
        margin-left: 0.7vw;
        margin-right: 0vw;
    }
    .search-form {
		float: left;
        width: 48vw;
        height: 11.5vw;
        padding-left: 2vw;
        margin-top: 0vw;
        border: 0.43vw solid #e3e3e3;
        font: normal 6vw/normal Arial, Helvetica, sans-serif;
    }
    
    /*Navigation Menu*/
    .navbar-light{
        margin-bottom: 1vw;
    }
    .menu-button {
        font-size: 5vw;
        padding-top: 1.5vw;
        height: 10vw;
    }
    
    /*Dropdown Products*/
    #product-list btn{
        padding-top: 2.3vw;
}
    
    /*!Products Page!*/
    
    /*Kategories And Sort*/
    #kat a{
    font: normal 5vw/normal Arial, Helvetica, sans-serif;
}
    #sort p{
    height: 7vw;
    padding: 0.8vw;
    padding-top: 1vw;
    margin-top: 0.5vw;
    border: 0.15vw solid #e3e3e3;
    border-right: 0;
    font: normal 3.8vw/normal Arial, Helvetica, sans-serif;
}
    .kat-sort{
    width: 100%;
    height: 7vw;
    margin-bottom: 1vw;
}
    #kat{
    padding-top: 1.4vw;
    font: normal 5.5vw/normal Arial, Helvetica, sans-serif;
}
    #sort button{
    height: 7vw;
    width: 7vw;
    font: normal 5vw/normal Arial, Helvetica, sans-serif;
}
    #sort .dropdown-menu{
    margin: 0;
    height: 16vw;
    width: 38vw;
    font: normal 2.9vw/normal Arial, Helvetica, sans-serif;
    border: 0.15vw solid #e3e3e3;
    border-radius: 0;
    padding: 0;
}
    
    /*Product Cards*/
    #product-cards .card{
    width: 49.3%;
	height: 100vw;
    margin-right: 0.5vw;
	}
    #product-cards .card:nth-child(4n){
    margin-right: 0.5vw;
}
    #product-cards .card:nth-child(2n){
    margin-right: 0;
}
    #product-cards .card-body{
	height: 50vw;
    }
    #product-cards img{
    width: 100%;
    height: 45vw;
}
    #product-cards .carusel-item{
    height: 50vw;
    width: 100%;
}
    #product-cards .card-title{
    font-size: 5vw;
    letter-spacing: -0.1vw; 
    margin-top: 0vw;
}
    #product-cards .card-text{
	top: 25%;
    font-size: 3.5vw;
    margin-top: 0vw;
	width: 100%;
}
    #product-cards .card-price{
	bottom: 20%;
    font-size: 5vw;
	margin-top: 0vw;
    margin-bottom: 0vw;
}
	#product-cards .card-btns{
	position: absolute;
	bottom: 3%;
	width: 100%;
	height: 7vw;
	padding-left: 0.5%;
	margin-bottom: 5%
}
	#product-cards .btn-group{
	height: 100%;
	width: 100%;
	padding-left: 3%;
	padding-right: 3%;
}
	#product-cards .btn-buy{
    float: left;
    cursor: pointer;
	width: 75%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    border-right: 0;
	border-radius: 0;
    font: bold 3vw/normal Arial, Helvetica, sans-serif;
	text-align: center;
    color: #ff6c00;
    background-color: white;
}
	#product-cards .btn-info{
    float: right;
    cursor: pointer;
    height: 100%;
	width: 75%;
    padding: 0;
	padding-left: 2%;
	padding-right: 2%;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    border-right: 0;
	border-radius: 0;
    font: bold 3vw/normal Arial, Helvetica, sans-serif;
	text-align: center;
    color: #ff6c00;
    background-color: white;
}
	#product-cards .btn-icon-buy{
    float: left;
    cursor: pointer;
    height: 100%;
    width: 25%;
	padding: 0;
    padding-top: 0;
    margin: 0;
    border: 0.15vw solid #e3e3e3;
    background-color: white;
	border-radius: 0;
}
	#product-cards .btn-icon-info{
    float: right;
    cursor: pointer;
    height: 100%;
    width: 25%;
	padding: 0;
    padding-top: 0;
    margin: 0;
    margin-right: 0.1vw;
    border: 0.15vw solid #e3e3e3;
    background-color: white;
	border-radius: 0;
}
	#product-cards .fa-shopping-basket{
	position: absolute;
	left: 17%;
	top: 23%;
	margin-top: 0vw;
	font-size: 4vw;
}
	#product-cards .fa-info{
	position: absolute;
	left: 40%;
	top: 20%;
	margin-top: 0vw;
	font-size: 5vw;
}

	
    /*Pagination*/
    #pagination{
	margin-top: 1vw;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}
    #pagination li{
	border: 0.1vw solid #e3e3e3;
	border-radius: 0;
}
    #pagination .page-link{
	width: 10vw;
	height: 10vw;
	font-size: 6.8vw;
	padding-top: 0.4vw;
	padding-left: 2.9vw;
}
    
}

/*Fonts*/
	@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProBold";
			src: url("../fonts/MyriadProBold/MyriadProBold.eot");
			src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
			url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProItalic";
			src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
			src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
			url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProSemiBold";
			src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
			src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
			url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProBoldItalic";
			src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
			src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
			url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProSemiBoldItalic";
			src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
			src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
			url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}




.icon-image{
    height: 40px;
    width: 40px;
}
