html{
	height: 100% !important;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Loader*/
.loader{
	position: fixed;
	display: flex;
   	align-items: center;
   	justify-content: center;
	min-width: 100%;
	min-height: 100%;
	background-color: #373a48;
	z-index: 999;
}
h1 {
	position: fixed;
	display: block;
	z-index: 999;
	text-align: center;
	background-color: #FF6A00;
	color: hsla(25,100%,50%,1.00);
	border-radius: 100px;
	width: 370px;
	font: 900 800% Baskerville, 'Palatino Linotype', Palatino, serif;
	margin: auto;
}

@keyframes loading {
	from { max-width: 0; }
}

h1:before {
	content: attr(data-content);
	position: absolute;
	overflow: hidden;
	max-width: 4em;
	color: white;
	animation: loading 1s linear;
}

/*Common*/
.content{
	flex: 1 0 auto;
	min-height: 200px;
}
.grid{
    margin-left: 17vw;
    margin-right: 17vw;
    width: 66vw;
}
.left{
    float: left;
}
.right{
    float: right;
}
.grid-prod{
    margin-left: 17vw;
    margin-right: 17vw;
    width: 66vw;
}
@media screen and (max-width: 750px){
	.grid{
		margin: 0;
		width: 100%;
	}
	.grid-prod{
    	margin: 0;
    	width: 100%;
	}
}

/*Top Strip*/
#top-strip{
    background-color: #373a48;
    color: white;
    height: 2vw;
    margin: 0;
}
#top-strip p{
    margin-top: 0.2vw;
    width: 50%;
    font-size: 1vw;
}
#top-strip a{
	color:#d2d1d1;
	text-decoration: none;
}
#top-strip a:hover, #top-strip a:focus{
	text-decoration: none;
	color:white;
}
@media screen and (max-width: 750px){
	#top-strip{
    	height: 3vw;
		padding-left: 5%;
		padding-right: 5%;
	}
	#top-strip p{
    	margin-top: 0.2vw;
    	width: 45%;
    	font-size: 1.7vw;
	}
}
@media screen and (max-width: 540px){
	#top-strip{
    	height: 5vw;
	}
	#top-strip p{
    	margin-top: 0.3vw;
    	font-size: 2.7vw;
	}
}

/*Logo/Shopping Cart/Price/Search*/
.logo{
    float: left;
    height: 6.3vw;
    width: 17.8vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    padding: 0;
}
.price-search{
    float: right;
    width: 17.8vw;
    height: 6.3vw;
    margin-top: 0.5vw;
	margin-bottom: 0.5vw;
}
.fa-shopping-basket{
	float: left;
	position: relative;
	margin: 0;
	margin-top: 0.9vw;
	font-size: 2vw;
	cursor: pointer;
	padding-bottom: 0.5vw;
}
.amount-circle{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 1.5vw;
	width: auto;
	min-height: 1.5vw;
	height: auto;
	padding-bottom: 0.1vw;
	padding-left: 0.1vw;
	padding-right: 0.1vw;
	border-radius: 100%;
	background-color: #FF6C00;
	top: -0.8vw;
	right: -0.3vw;
	font-size: 0.9vw;
	font-family: verdana;
	font-weight: bold;
	cursor: pointer;
}
.price{
	white-space: nowrap;
	position: absolute;
	width: auto;
	left: 2.5vw;
	bottom: 0.2vw;
    font-size: 1.8vw;
    font-family: verdana;
    font-weight: bold;
	cursor: pointer;
}
.search-form {
    display: inline-block;
    float: right;
    cursor: pointer;
    width: 17.8vw;
    height: 3.1vw;
    padding-left: 0.5vw;
    margin-top: 0.3vw;
    border: 0.15vw solid #e3e3e3;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
    color: #8e8c8d;
    background: url('C:/Users/Ян/Downloads/IKEA/IKEA Site/images/icons/search-icon.png'), #f3f4f5;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: 3vw 3vw;
}
@media screen and (max-width: 750px){
	.logo{
		margin-left: 1vw;
		height: 9.5vw;
		width: 23vw;
		margin-top: 0.5vw;
		margin-bottom: 0.5vw;
		padding: 0;
	}
	.price-search{
		margin-right: 1vw;
		width: 27vw;
		height: 9.5vw;
	}
	.fa-shopping-basket{
		font-size: 3vw;
	}
	.amount-circle{
		min-width: 2vw;
		min-height: 2vw;
		font-size: 1.3vw;
	}
	.price{
		left: 3.8vw;
		bottom: 0.2vw;
		font-size: 2.5vw;
	}
	.search-form {
		width: 27vw;
		height: 4.7vw;
		font: normal 2vw/normal Arial, Helvetica, sans-serif;
	}
}
@media screen and (max-width: 540px){
	.logo{
		margin-left: 0vw;
		height: 40vw;
		width: 100%;
		margin-top: 0vw;
		margin-bottom: 0vw;
	}
	.price-search{
		margin-right: 1%;
		margin-left: 1%;
		width: 98%;
		height: 27vw;
	}
	.fa-shopping-basket{
		font-size: 10vw;
		margin-bottom: 1.5vw;
	}
	.amount-circle{
		min-width: 4.5vw;
		min-height: 4.5vw;
		font-size: 2.3vw;
	}
	.price{
		left: 15vw;
		bottom: -0.5vw;
		font-size: 10vw;
	}
	.search-form {
		width: 100%;
		height: 13vw;
		font: normal 8vw/normal Arial, Helvetica, sans-serif;
    	border: 0.3vw solid #e3e3e3;
	}
}	

/*Search Results*/
#searched_query{
	display: none;
	float: right;
	position: absolute;
	z-index: 997;
	margin-top: 6.5vw;
	background-color: #F3F4F5;
	color: #515050;
	border: 0.15vw solid #e3e3e3;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	padding: 0;
	max-height: 250px;
	overflow: scroll;
}
#searched_query li{
	list-style-type: none;
	height: 50px;
	min-width: 17.8vw;
	padding: 0;
	margin: 0;
}
#searched_query li:hover{
	background-color: #E3E3E3;
	color: #FF6C00;
	cursor: pointer;
}
#searched_query img{
	float: left;
	max-width: 50px;
	max-height: 50px;
}
#searched_query p{
	text-align: center;
	line-height: 1.2;
	height: 50px;
	padding-top: 15px;
	width: auto;
}
@media screen and (max-width: 750px){
	#searched_query{
		margin-top: 9vw;
	}
}
@media screen and (max-width: 540px){
	#searched_query{
		margin-top: 26vw;
	}
}

/*Navigation Menu*/
.navbar-light{
	background-color: #f5f5f5;
    min-height: 3.7vw;
    padding: 0;
}
.navbar-toggler{
    margin: 0.5vw;
    height: 80%;
}
#menu-button a{
	background-color: #f5f5f5;
	display: inline-block;
	cursor: pointer;
	color: #515050;
	font-family: Verdana;
	font-size: 1.2vw;
	font-weight: bold;
	font-style: italic;
    text-align: center;
	text-decoration: none;
    padding: 0;
    padding-top: 1.2vw;
    height: 3.7vw;
    width: 25%;
    line-height: 1.1vw;
}
#menu-button a:hover{
	background-color:#e4e4e4;
    color: #ff6c00;
}
#menu-button a:active{
    background-color: #e4e4e4;
	position: relative;
	top: 1px;
}
#menu-button a:focus{
    text-decoration: none;
    background-color:#e4e4e4;
    color: #ff6c00;
}
#menu-button i{
    font-size: 1.2vw;
}
@media screen and (max-width: 750px){
	.navbar-light{
		min-height: 7vw;
	}
	#menu-button a{
		font-size: 2.2vw;
		padding-top: 2.5vw;
		height: 7vw;
		width: 25%;
	}
}
@media screen and (max-width: 540px){
	.navbar-light{
		width: 100%;
	}
	#menu-button a{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 5vw;
		padding-top: 0;
		height: 13vw;
		width: 100%;
		    border-bottom: 0.1vw solid #e3e3e3;

	}
	#menu-button i{
		display: none;
	}
}

/*Dropdown Products*/
#dropdown-products{
	position: absolute;
	z-index: 50;
}
#dropdown-products i{
	position: absolute;
	font-size: 0.8vw;
	left: 25vw;
}
#dropdown-products i:hover{
    color: #ff6c00;
}
#dropdown-products i:active{
    color: #ff6c00;
}
#product-list{
    display: inline-block;
    background-color: #f5f5f5;
    color: #515050;
    height: 100%;
    width: 40%;
    padding: 0;
    margin: 0;
    border: 0.1vw solid #e3e3e3;
}
#product-list li{
    list-style-type: none;
    background-color: #f5f5f5;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #515050;
	font-family: Verdana;
	font-size: 0.8vw;
	font-weight: bold;
	font-style: italic;
    text-align: left;
	text-decoration: none;
    padding-left: 1vw;
    padding-right: 0.5vw;
    margin: 0;
    height: 2vw;
    width: 100%;
}
#product-list li:hover{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-list li:active{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-list li:focus{
	text-decoration: none;
    background-color:#e4e4e4;
    color: #ff6c00;
}
#product-categories{
    display: inline-block;
	float: right;
    background-color: #f5f5f5;
    color: #515050;
    height: 100%;
    width: 60%;
    padding: 0;
    margin: 0;
    border: 0.1vw solid #e3e3e3;
}
#product-categories li{
	position: relative;
    list-style-type: none;
    background-color: #f5f5f5;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #515050;
	font-family: Verdana;
	font-size: 0.8vw;
	font-weight: bold;
	font-style: italic;
    text-align: left;
	text-decoration: none;
    padding-left: 1vw;
    padding-right: 0.5vw;
    margin: 0;
    height: 2vw;
    width: 100%;
}
#product-categories li:hover{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-categories li:active{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-categories li:focus{
	text-decoration: none;
    background-color:#e4e4e4;
    color: #ff6c00;
}
#product-subcategories{
	z-index: 51;
	left: 5%;
	top: 2vw;
	display: inline-block;
	float: right;
    background-color: #f5f5f5;
    color: #515050;
    height: auto;
    width: 95%;
    padding: 0;
    margin: 0;
}
#product-subcategories li{
	position: relative;
    list-style-type: none;
    background-color: #f5f5f5;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #515050;
	font-family: Verdana;
	font-size: 0.8vw;
	font-weight: bold;
	font-style: italic;
    text-align: left;
	text-decoration: none;
    padding-left: 1vw;
    padding-right: 0.5vw;
    margin: 0;
    height: 2vw;
    width: 100%;
}
#product-subcategories li:hover{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-subcategories li:active{
	background-color: #e4e4e4;
    color: #ff6c00;
}
#product-subcategories li:focus{
	text-decoration: none;
    background-color:#e4e4e4;
}
@media screen and (max-width: 750px){
	#dropdown-products i{
		font-size: 1.8vw;
		margin-top: 0vw;
		left: 38vw;
	}
	#product-list{
		height: 100%;
		width: 40%;
	}
	#product-list li{
		font-size: 1.8vw;
		height: 5vw;
	}
	#product-categories li{
		font-size: 1.8vw;
		height: 5vw;
	}
	#product-subcategories li{
		font-size: 1.8vw;
		height: 5vw;
	}
}
@media screen and (max-width: 540px){
	#dropdown-products i{
		display: none;
	}
	#product-list{
		width: 100%;
	}
	#product-list li{
		font-size: 5vw;
		height: 13vw;
		    border-bottom: 0.1vw solid #e3e3e3;

	}
	#product-categories{
		width: 100%;
		position: absolute;
		z-index: 51;
		top: 0;
	}
	#product-categories li{
		font-size: 5vw;
		height: 13vw;
		    border-bottom: 0.1vw solid #e3e3e3;

	}
	#product-subcategories li{
		font-size: 5vw;
		height: 13vw;
		    border-bottom: 0.1vw solid #e3e3e3;

	}
}


/*Footer*/
#myFooter{
	background-color: #373a48;
    margin-top: 10vw;
	color: white;
    flex: 0 0 auto;
}
#myFooter .footer-copyright{
	background-color: #383737;
	text-align: center;
}
#myFooter .footer-copyright p{
	margin: 0.3vw;
	color: #ccc;
}
#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 0.5vw;
}
#myFooter ul{
	list-style-type: none;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}
#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}
#myFooter .myCols{
	text-align: center;
}
#myFooter .social-networks{
	text-align: center;
}
#myFooter .social-networks a{
    font-size: 40px;
    margin-right: 3px;
    margin-left: 3px;
    color: #f9f9f9;
    padding: 1vw;
    transition: 0.2s;
}
#myFooter .social-networks a:hover{
	text-decoration: none;
}
#myFooter .facebook:hover{
	color: dodgerblue;
}
#myFooter .instagram:hover{
	color: deeppink;
}
#myFooter .vk:hover{
	color: cornflowerblue;
}

/*!Home Page!*/

/*Sale Banner*/
.sale-banner{
    height: 20.4vw;
    margin-bottom: 1vw;
}
.sale-banner-item{
    height: 20.4vw;
}
.carousel-indicators{
    margin-bottom: 0;
}
#carouselExampleIndicators li{
    height: 0.17vw;
    width: 1.6vw;
}
.btn-prev{
    margin-right: 8.3vw;
}
.btn-next{
    margin-left: 8.3vw;
}

/*Cards On Home Page */
.card-item-large{
    position: relative;
    height: 17.8vw;
    width: 55.5%;
    margin-bottom: 1.1vw;
}
.card-item-small{
    position: relative;
    height: 17.8vw;
    width: 43%;
    margin-bottom: 1.1vw;
}
.text-on-card-large-right{
    position: absolute;
    text-align: right;
    height: 17.8vw;
    width: 36.6%;
    padding-top: 0.5vw;
    padding-right: 1.3vw;
    padding-left: 15%;
    margin-bottom: 1.1vw;
}
.text-on-card-small-right{
    position: absolute;
    text-align: right;
    height: 17.8vw;
    width: 29.4%;
    padding-right: 1.3vw;
    padding-left: 8%;
    padding-top: 0.5vw;
    margin-left: 36.6%;
    margin-bottom: 1.1vw;
}
.text-on-card-small-left{
    position: absolute;
    text-align: left;
    height: 17.8vw;
    width: 28.4%;
    padding-top: 0.5vw;
    padding-left: 0.7vw;
    padding-right: 10%;
    margin-bottom: 1.1vw;
}
.text-on-card-large-left{
    position: absolute;
    text-align: left;
    height: 17.8vw;
    width: 36.6%;
    padding-top: 0.5vw;
    padding-left: 0.7vw;
    padding-right: 15%;
    margin-left: 29.4%;
    margin-bottom: 1.1vw;
}
.name-on-card{
    font-family: "MyriadProBold";
    font-size: 3.20vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
}
.info-on-card{
    font-family: "MyriadProBold";
    font-size: 2vw;
    font-style: italic;
    line-height: 90%;
    margin: 0;
}
.price-on-card{
    float: right;
    font-family: "MyriadProBold";
    font-size: 2.6vw;
    font-style: italic;
    line-height: 90%;
    color: #ff6c00;
    width: 100%;
    margin: 0;
}

/*!Producrs Page!*/

/*Kategories And Sort*/
#get_sort{
	float: right;
    cursor: pointer;
    height: 2.1vw;
    padding: 0.3vw;
    padding-top: 0.45vw;
    margin: 0;
    margin-top: 0.5vw;
    border: 0.12vw solid #e3e3e3;
    border-radius: 0;
    font: normal 1.1vw/normal Arial, Helvetica, sans-serif;
    color: #515050;
    background-color: white;
}
.kat-sort{
    width: 100%;
    height: 2.6vw;
    margin-bottom: 0.5vw;
    padding-left: 0.35vw;
    padding-right: 0.35vw;
}
#kat{
	font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
    padding-top: 1.2vw;
    margin: 0;
    color: #515050;
    height: 0vw;
}
#kat a{
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
    color: #515050;
}
#kat a:hover{
    color: #ff6c00;
}
@media screen and (max-width: 750px){
	#get_sort{
		height: 5vw;
		width: 25vw;
		font: normal 2vw/normal Arial, Helvetica, sans-serif;
	}
	.kat-sort{
		width: 100%;
		height: 5vw;
	}
	#kat{
		font: normal 3vw/normal Arial, Helvetica, sans-serif;
		padding-top: 2vw;
		height: 0vw;
	}
	#kat a{
		font: normal 3vw/normal Arial, Helvetica, sans-serif;
	}
}
@media screen and (max-width: 540px){
	#get_sort{
		height: 9vw;
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		font: normal 3.5vw/normal Arial, Helvetica, sans-serif;
		padding-left: 8vw;
	}
	.kat-sort{
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
		height: 16vw;
	}
	#kat{
		font: normal 4vw/normal Arial, Helvetica, sans-serif;
		padding-top: 0.5vw;
		width: 100%;
		height: 6vw;
	}
	#kat a{
		font: normal 4vw/normal Arial, Helvetica, sans-serif;
	}
}

/*Product Cards*/
#product-cards .card{
    display: inline-block;
	height: 23vw;
    width: 24.4%;
    float: left;
    margin: 0;
    margin-left: auto;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    padding: 0;
    border: 0.15vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
}
#product-cards .card-open{
    display: none;
	height: auto;
    width: 16.5vw;
    float: left;
	top: -5px;
	left: -3px;
    margin: 0;
    padding: 0;
    border: 0.16vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	margin-top: 0;
}
#product-cards .card:nth-child(4n){
    margin-right: 0;
}
#product-cards img{
    width: 100%;
    height: 15vw;
	border-bottom: 0.15vw solid #e3e3e3;
}
#product-cards .card-title{
	width: 100%;
	height: 2.8vw;
	color: black;
	font-family: "MyriadProBold";
    font-size: 1.5vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
	margin-top: 0.7vw;
	padding: 0;
	text-align: center;
}
#product-cards .ind-code{
    color: #515050;
	font-family: "MyriadProRegular";
	width: 100%;
    font-size: 1.1vw;
	margin: 0;
}
#product-cards .card-text{
	display: none;
	color: #515050;
	font-family: "MyriadProRegular";
    font-size: 1vw;
	margin: 0;
	margin-top: 0.3vw;
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
}
#product-cards .card-price{
	width: 100%;
    font-family: "MyriadProBold";
    font-size: 1.7vw;
    font-style: italic;
    color: #ff6c00;
	margin: 0;
}
#product-cards .fa-search-plus{
	position: absolute;
	font-size: 1.7vw;
	opacity: .5;
	right: 1.5%;
	top: 1%;
}
#product-cards .button-item {
  display: none;
  position: relative;
  margin-top: 0vw;
  margin-bottom: 0.5vw;
  padding-bottom: 0vw;
}
#product-cards a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 0.7vw;
}
#product-cards .btn-1 {
  padding: 1em 3em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
}
#product-cards .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#product-cards .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#product-cards .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
#product-cards .card:hover .card-open{
	display: inline-block;
	z-index: 10;
	position: absolute;
	margin: 0;
}
#product-cards .card:hover .card-text{
	display: block;
}
#product-cards .card:hover .button-item{
	display: block;
}
/*In Stock*/
#product-cards .amount{
	position: absolute;
	z-index: 9;
	bottom: 2.7vw;
	display: none;
	justify-content: center;
	align-items: center;
	color: #ff6c00;
	background-color: #f5f5f5;
	padding: 0.5vw;
	border: 2px solid #ADA6A6;
	width: 11.7vw;
	font-size: 0.9vw;
	margin-left: 2.3vw;
	margin-right: 2.1vw;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);

}
#product-cards .button-item:hover .amount{
	display: flex;
}
#product-cards span{
	color: black;
	padding-right: 0.5vw;
}
@media screen and (max-width: 750px){
	#product-cards .card{
		height: 34vw;
		width: 24.4%;
		margin-top: 0.5vw;
		margin-right: 0.5vw;
		padding: 0;
		border: 0.15vw solid #e3e3e3;
	}
	#product-cards .card-open{
		min-height: 34vw;
		width: 25vw;
	}
	#product-cards img{
		height: 22vw;
	}
	#product-cards .card-title{
		height: 3vw;
		font-size: 2vw;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	#product-cards .ind-code{
		width: 100%;
		font-size: 1.8vw;
	}
	#product-cards .card-text{
		font-size: 1.8vw;
		margin-top: 0.3vw;
		margin-left: 3%;
		margin-right: 3%;
		width: 94%;
	}
	#product-cards .card-price{
		font-size: 2.5vw;
	}
	#product-cards .fa-search-plus{
		font-size: 4vw;
	}
	#product-cards a {
	  font-size: 1.4vw;
	}
	/*In Stock*/
	#product-cards .button-item:hover .amount{
		display: none;
	}
}
@media screen and (max-width: 540px){
	#product-cards .card{
		height: 68vw;
		width: 48.3%;
		margin-top: 0.5vw;
		margin-right: 0.5vw;
		margin-left: 1vw;
	}
	#product-cards .card:nth-child(4n){
    	margin-right: 0.5vw;
	}
	#product-cards .card:nth-child(2n){
    	margin-right: 0;
	}
	#product-cards .card-open{
		min-height: 68vw;
		width: 49.5vw;
	}
	#product-cards img{
		height: 44vw;
	}
	#product-cards .card-title{
		height: 6vw;
		font-size: 5vw;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	#product-cards .ind-code{
		width: 100%;
		font-size: 3.6vw;
	}
	#product-cards .card-text{
		font-size: 3.6vw;
		margin-top: 0.3vw;
		margin-left: 3%;
		margin-right: 3%;
		width: 94%;
	}
	#product-cards .card-price{
		font-size: 5vw;
	}
	#product-cards .fa-search-plus{
		display: none;
	}
	#product-cards a {
	  font-size: 2.8vw;
	}
}

/*Big Images*/
.img-block{
	position: fixed;
	z-index: 100;
	background-color: white;
	top: 0;
	height: 100%;
	width: 100vw;
	text-align: center;
}
.big-image{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	width: 90vw;
	height: 100%;
}
.big-img-item{
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 90vw;
}
.mini-img-list{
	height: 100%;
	width: 10vw;
	position: absolute;
	left: 0;
	top: 0;
	overflow: scroll;
}
.mini-img{
	width: 10vw;
	height: 10vw;
	margin: 0;
}
.close-icon{
	position: absolute;
	z-index: 101;
	top: 0.5vw;
	right: 1vw;
	font-size: 3vw;
	color: #ff6c00;
	opacity: .6;
}
.close-icon:hover{
	opacity: .9;
	color: #4B4A4A;
}
.close-icon:active{
	color: #4B4A4A;
	right: 1.5vw;
	top: 0.3vw;
}


/*Pagination*/
#pagination{
    	display: inline-block;
	margin-top: 0.5vw;
	margin-left: 42.2%;
	margin-right: 42.2%;
	width: 15.6%;
}
#pagination span{
	color: #ff6c00;
}
#pagination a{
	color: #ff6c00;
	border-radius: 0;
}
#pagination li{
	border: 0.1vw solid #e3e3e3;
	border-radius: 0;
}
#pagination .page-link{
	width: 2.1vw;
	height: 2.1vw;
	font-size: 1vw;
	padding: 0;
	padding-top: 0.4vw;
	padding-left: 0.7vw;
	margin: 0;
}

/*!One Page!*/

/*Small Images*/
.one-prod-imgs{
	float: left;
	display: inline-block;
	width: 8.5vw;
	height: 34vw;
	max-height: 34vw;
	overflow: scroll;
	background-color: #f5f5f5;
}
.small-img{	
	padding: 5%;
	height: 8.5vw;
	width: 8.5vw;
}
.img-item{
	width: 100%;
	height: 100%;
}
/*Large Image*/
.one-prod-img{
	display: inline-block;
	background-color: #f5f5f5;
	width: 34vw;
	height: 34vw;
	padding: 0.7%;
}
.large-img{
	width: 100%;
	height: 100%;
}

/*Info Block*/
.info-block{
	display: inline-block;
	float: right;
	background-color: #f5f5f5;
	width: 23.5vw;
	height: 34vw;
}
.prod-name{
	width: 100%;
	height: 4.3vw;
	padding-top: 0.5vw;
	text-align: center;
	font-family: "MyriadProBold";
    font-size: 1.9vw;
	line-height: 1;
    color: #ff6c00;
}
.prod-info{
	width: 100%;
	height: 6.5vw;
	padding-bottom: 0.5vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	text-align: center;
	font-family: "MyriadProRegular";
    font-size: 1.2vw;
	line-height: 1.2;
	color: #515050;
	overflow: scroll;
}
.prod-price{
	width: 100%;
	height: 3vw;
	padding-top: 0.5vw;
	text-align: center;
	font-family: "MyriadProBold";
    font-size: 1.9vw;
	line-height: 1;
    color: #ff6c00;
}
#info-block .button-item {
  margin-top: 0vw;
  padding-bottom: 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#info-block a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 1.3vw;
}
#info-block .btn-1 {
  padding: 1em 3em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
}
#info-block .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#info-block .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#info-block .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
.model-select{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#model-select-open{
	position: absolute;
	z-index: 11;
	width:  21.2vw;
	max-height: 120px;
	overflow: scroll;
	color: #7C7979;
	background-color: white;
	border: 0.15vw solid #e3e3e3;
	border-top: 0;
	top: 3vw;
}
.model-select-item{
	display: flex;
	align-items: center;
	height: auto;
	width: 100%;
	padding-left: 0;
	line-height: 1;
}
#model-select-open img{
	width: 40px;
	height: 40px;
	margin-right:0.5vw;
}
.model-select-item:hover{
	background-color: #EEEEEE;
	color: #FF6C00;
	cursor: pointer;
}
#model-select-open,
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ #model-select-open {
  display: block;
}
#model-select{
	display: flex;
	align-items: center;
    cursor: pointer;
    width: 21.2vw;
    height: 3vw;
	padding-left: 0.5vw;
    border: 0.15vw solid #e3e3e3;
	color: #7C7979;
	background-color: white;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
}
#model-select .fa-cog{
	margin-left: 0.5vw;
	color: lightslategray;	
}
#model-select:hover{
	color: #FF6C00;
}
.size-select{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#size-select-open{
	position: absolute;
	z-index: 10;
	width:  21.2vw;
	max-height: 120px;
	overflow: scroll;
	color: #7C7979;
	background-color: white;
	border: 0.15vw solid #e3e3e3;
	border-top: 0;
	top: 3vw;
}
.size-select-item{
	display: flex;
	align-items: center;
	height: auto;
	width: 100%;
	padding-left: 0;
	line-height: 1;
}
#size-select-open img{
	width: 40px;
	height: 40px;
	margin-right:0.5vw;
}
.size-select-item:hover{
	background-color: #EEEEEE;
	color: #FF6C00;
	cursor: pointer;
}
#size-select-open,
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ #size-select-open {
  display: block;
}
#size-select{
	display: flex;
	align-items: center;
    cursor: pointer;
    width: 21.2vw;
    height: 3vw;
	padding-left: 0.5vw;
    border: 0.15vw solid #e3e3e3;
	color: #7C7979;
	background-color: white;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
}
#size-select .fa-arrows{
	margin-left: 0.5vw;
	color: lightslategray;
}
#size-select:hover{
	color: #FF6C00;
}
.color-select{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
#color-select-open{
	position: absolute;
	z-index: 9;
	width:  21.2vw;
	max-height: 120px;
	overflow: scroll;
	color: #7C7979;
	background-color: white;
	border: 0.15vw solid #e3e3e3;
	border-top: 0;
	top: 3vw;
}
.color-select-item{
	display: flex;
	align-items: center;
	height: auto;
	width: 100%;
	padding-left: 0;
	line-height: 1;
}
#color-select-open img{
	width: 40px;
	height: 40px;
	margin-right:0.5vw;
}
.color-select-item:hover{
	background-color: #EEEEEE;
	color: #FF6C00;
	cursor: pointer;
}
#color-select-open,
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ #color-select-open {
  display: block;
}
#color-select{
	display: flex;
	align-items: center;
    cursor: pointer;
    width: 21.2vw;
    height: 3vw;
	padding-left: 0.5vw;
    border: 0.15vw solid #e3e3e3;
	color: #7C7979;
	background-color: white;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
}
.square-1{
	color: lightsalmon;
	margin-left: 0.5vw;
}
.square-2{
	color: lightgreen;
	margin-left: 0.5vw;
}
.square-3{
	color: lightblue;
	margin-left: 0.5vw;
}
#color-select:hover{
	color: #FF6C00;
}
.amount-select{
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	width: auto;
}
#amount-select{
	display: inline-block;
    cursor: text;
    width: 21.2vw;
    height: 3vw;
	padding-left: 0.5vw;
	border: 0.15vw solid #e3e3e3;
    font: normal 1.3vw/normal Arial, Helvetica, sans-serif;
}

/*In Stock*/
#info-block .amount{
	position: absolute;
	z-index: 9;
	bottom: 4.5vw;
	display: none;
    align-items: center;
    justify-content: center;
	color: #ff6c00;
	background-color: #f5f5f5;
	padding: 0.5vw;
	border: 2px solid #ADA6A6;
	width: 21.2vw;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
}
#info-block .button-item:hover .amount{
	display: flex;
}
#info-block span{
	color: black;
	padding-right: 0.5vw;
}
@media screen and (max-width: 750px){
		/*Small Images*/
	.one-prod-imgs{
		width: 20%;
		height: 80vw;
		max-height: 80vw;
	}
	.small-img{	
		height: 20vw;
		width: 100%;
	}
	
	/*Large Image*/
	.one-prod-img{
		width: 80%;
		height: 80vw;
	}

	/*Info Block*/
	.info-block{
		float: none;
		width: 100%;
		height: 68vw;
	}
	.prod-name{
		height: 5vw;
		font-size: 4vw;
	}
	.prod-info{
		height: 14vw;
		font-size: 2.4vw;
	}
	.prod-price{
		height: 6vw;
		padding-top: 1vw;
		font-size: 4vw;
	}
	#info-block a {
	  font-size: 2.6vw;
	}
	#model-select-open{
		width:  35vw;
		max-height: 25vw;
		top: 7vw;
		overflow-x: scroll;
		overflow-y: scroll;
	}
	.size-select-item{
		height: auto;
	}
	#model-select-open img{
		width: 60px;
		height: 60px;
		margin-right:0.5vw;
	}
	#model-select{
		width: 35vw;
		height: 7vw;
		padding-left: 1vw;
		font: normal 2.6vw/normal Arial, Helvetica, sans-serif;
	}
	#model-select .fa-cog{
		margin-left: 1vw;
	}
	
	#size-select-open{
		width:  35vw;
		max-height: 25vw;
		top: 7vw;
		overflow-x: scroll;
		overflow-y: scroll;
	}
	.size-select-item{
		height: auto;
	}
	#size-select-open img{
		width: 60px;
		height: 60px;
		margin-right:0.5vw;
	}
	#size-select{
		width: 35vw;
		height: 7vw;
		padding-left: 1vw;
		font: normal 2.6vw/normal Arial, Helvetica, sans-serif;
	}
	#size-select .fa-arrows{
		margin-left: 1vw;
	}
	
	#color-select-open{
		width:  35vw;
		max-height: 25vw;
		top: 7vw;
		overflow-x: scroll;
		overflow-y: scroll;
	}
	.color-select-item{
		height: auto;
	}
	#color-select-open img{
		width: 60px;
		height: 60px;
		margin-right:0.5vw;
	}
	#color-select{
		width: 35vw;
		height: 7vw;
		padding-left: 1vw;
		font: normal 2.6vw/normal Arial, Helvetica, sans-serif;
	}
	.square-1{
		margin-left: 1vw;
	}
	.square-2{
		margin-left: 1vw;
	}
	.square-3{
		margin-left: 1vw;
	}
	
	#amount-select{
		width: 35vw;
		height: 7vw;
		padding-left: 1vw;
		font: normal 2.6vw/normal Arial, Helvetica, sans-serif;
	}

	/*In Stock*/
	#info-block .button-item:hover .amount{
		display: none;
	}
}
@media screen and (max-width: 540px){
		/*Small Images*/
	.one-prod-imgs{
		width: 20%;
		height: 80vw;
		max-height: 80vw;
	}
	.small-img{	
		height: 20vw;
		width: 100%;
	}
	
	/*Large Image*/
	.one-prod-img{
		width: 80%;
		height: 80vw;
	}

	/*Info Block*/
	.info-block{
		width: 100%;
		height: 140vw;
		background-color: #FFFFFF;
	}
	.prod-name{
		height: 7vw;
		font-size: 5vw;
		margin-top: 1vw;
	}
	.prod-info{
		height: 40vw;
		font-size: 4vw;
	}
	.prod-price{
		height: 9vw;
		padding-top: 2vw;
		font-size: 6vw;
	}
	#info-block a {
	  font-size: 4vw;
	}
	
	#model-select-open{
		width:  90vw;
		max-height: 50vw;
		top: 14vw;
		overflow-x: scroll;
		overflow-y: scroll;
		font-size: 3.5vw;
	}
	#model-select-open img{
		width: 90px;
		height: 90px;
		margin-right: 1vw;
	}
	#model-select{
		width: 90vw;
		height: 14vw;
		padding-left: 5vw;
		font: normal 5vw/normal Arial, Helvetica, sans-serif;
	}
	#model-select .fa-cog{
		margin-left: 2vw;
	}
	
	#size-select-open{
		width:  90vw;
		max-height: 50vw;
		top: 14vw;
		overflow-x: scroll;
		overflow-y: scroll;
		font-size: 3.5vw;
	}
	#size-select-open img{
		width: 90px;
		height: 90px;
		margin-right: 1vw;
	}
	#size-select{
		width: 90vw;
		height: 14vw;
		padding-left: 5vw;
		font: normal 5vw/normal Arial, Helvetica, sans-serif;
	}
	#size-select .fa-arrows{
		margin-left: 2vw;
	}
	
	#color-select-open{
		width:  90vw;
		max-height: 50vw;
		top: 14vw;
		overflow-x: scroll;
		overflow-y: scroll;
		font-size: 3.5vw;
	}
	#color-select-open img{
		width: 90px;
		height: 90px;
		margin-right: 1vw;
	}
	#color-select{
		width: 90vw;
		height: 14vw;
		padding-left: 5vw;
		font: normal 5vw/normal Arial, Helvetica, sans-serif;
	}
	.square-1{
		margin-left: 2vw;
	}
	.square-2{
		margin-left: 2vw;
	}
	.square-3{
		margin-left: 2vw;
	}
	
	#amount-select{
		width: 90vw;
		height: 14vw;
		padding-left: 5vw;
		font: normal 5vw/normal Arial, Helvetica, sans-serif;
	}

	/*In Stock*/
	#info-block .button-item:hover .amount{
		display: none;
	}
}


/*Cards On Pages Block*/
#content4 .card{
    display: inline-block;
	height: 23vw;
    width: 24.4%;
    float: left;
    margin: 0;
    margin-left: auto;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    padding: 0;
    border: 0.15vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
}
#content4 .card-open{
    display: none;
	height: auto;
	top: -5px;
	left: -2px;
    width: 16.5vw;
    float: left;
    margin: 0;
    padding: 0;
    border: 0.16vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	margin-top: 0;
}
#content4 .card:nth-child(4n){
    margin-right: 0;
}
#content4 img{
    width: 100%;
    height: 15vw;
	border-bottom: 0.15vw solid #e3e3e3;
}
#content4 .card-title{
	width: 100%;
	height: 2.8vw;
	color: black;
	font-family: "MyriadProBold";
    font-size: 1.5vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
	margin-top: 0.7vw;
	padding: 0;
	text-align: center;
}
#content4 .ind-code{
    color: #515050;
	font-family: "MyriadProRegular";
	width: 100%;
    font-size: 1.1vw;
	margin: 0;
}
#content4 .card-text{
	display: none;
	color: #515050;
	font-family: "MyriadProRegular";
    font-size: 1vw;
	margin: 0;
	margin-top: 0.3vw;
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
}
#content4 .card-price{
	width: 100%;
    font-family: "MyriadProBold";
    font-size: 1.7vw;
    font-style: italic;
    color: #ff6c00;
	margin: 0;
}
#content4 .fa-search-plus{
	position: absolute;
	font-size: 1.7vw;
	opacity: .5;
	right: 1.5%;
	top: 1%;
}
#content4 .button-item {
  display: none;
  position: relative;
  margin-top: 0vw;
  margin-bottom: 0.5vw;
  padding-bottom: 0vw;
}
#content4 a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 0.7vw;
}
#content4 .btn-1 {
  padding: 1em 3em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
}
#content4 .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#content4 .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#content4 .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
#content4 .card:hover .card-open{
	display: inline-block;
	z-index: 10;
	position: absolute;
	margin: 0;
}
#content4 .card:hover .card-text{
	display: block;
}
#content4 .card:hover .button-item{
	display: block;
}
@media screen and (max-width: 750px){
	#product-cards .card{
		height: 34vw;
		width: 24.4%;
		margin-top: 0.5vw;
		margin-right: 0.5vw;
		padding: 0;
		border: 0.15vw solid #e3e3e3;
	}
	#product-cards .card-open{
		min-height: 34vw;
		width: 25vw;
	}
	#product-cards img{
		height: 22vw;
	}
	#product-cards .card-title{
		height: 3vw;
		font-size: 2vw;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	#product-cards .ind-code{
		width: 100%;
		font-size: 1.8vw;
	}
	#product-cards .card-text{
		font-size: 1.8vw;
		margin-top: 0.3vw;
		margin-left: 3%;
		margin-right: 3%;
		width: 94%;
	}
	#product-cards .card-price{
		font-size: 2.5vw;
	}
	#product-cards .fa-search-plus{
		font-size: 4vw;
	}
	#product-cards a {
	  font-size: 1.4vw;
	}
	/*In Stock*/
	#product-cards .button-item:hover .amount{
		display: none;
	}
}
@media screen and (max-width: 540px){
	#product-cards .card{
		height: 68vw;
		width: 48.3%;
		margin-top: 0.5vw;
		margin-right: 0.5vw;
		margin-left: 1vw;
	}
	#product-cards .card:nth-child(4n){
    	margin-right: 0.5vw;
	}
	#product-cards .card:nth-child(2n){
    	margin-right: 0;
	}
	#product-cards .card-open{
		min-height: 68vw;
		width: 49.5vw;
	}
	#product-cards img{
		height: 44vw;
	}
	#product-cards .card-title{
		height: 6vw;
		font-size: 5vw;
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
	}
	#product-cards .ind-code{
		width: 100%;
		font-size: 3.6vw;
	}
	#product-cards .card-text{
		font-size: 3.6vw;
		margin-top: 0.3vw;
		margin-left: 3%;
		margin-right: 3%;
		width: 94%;
	}
	#product-cards .card-price{
		font-size: 5vw;
	}
	#product-cards .fa-search-plus{
		display: none;
	}
	#product-cards a {
	  font-size: 2.8vw;
	}
}

/*Pages Block*/
#pages-block p {
  margin: 0 0 20px;
  line-height: 1.5;
}
main {
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  background: #fff;
}
#pages-block section {
  display: none;
  padding: 20px 0 0;
}
#pages-block input {
  display: none;
}
#pages-block label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 15px;
  font-weight: 600;
  text-align: center;
  color: #515050;
  border: 0.1vw solid transparent;
}
#pages-block label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
#pages-block label[for*='1']:before {
  content:"\f039";
}
#pages-block label[for*='2']:before {
  content:"\f129";
}
#pages-block label[for*='3']:before {
  content: '\f047';
}
#pages-block label[for*='4']:before {
  content:"\f16b";
}
#pages-block label:hover {
  color: #888;
  cursor: pointer;
}
#pages-block input:checked + label {
  color: #ff6c00;
  border: 2px solid #ddd;
  border-top: 3px solid #ff6c00;
  border-bottom: 1px solid #fff;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 962px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

/*In Stock 2*/
#pages-block .amount{
	position: absolute;
	z-index: 9;
	bottom: 2.5vw;
	left: 0.2vw;
	display: none;
	justify-content: center;
	align-items: center;
	color: #ff6c00;
	background-color: #f5f5f5;
	padding: 0.5vw;
	border: 2px solid #ADA6A6;
	width: 11.6vw;
	font-size: 0.9vw;
	margin-left: 2.1vw;
	margin-right: 2.1vw;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);

}
#pages-block .button-item:hover .amount{
	display: flex;
}
#pages-block span{
	color: black;
	padding-right: 0.5vw;
}

/*Added To Cart*/
.added-to-cart-icon{
	position: fixed;
	top: 3vw;
	right: 1vw;
	color: white;
	font-size: 9vw;
	border-radius: 100%;
	height: 10vw;
	width: 10vw;
	background-color: #FF9344;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 20;
}
.go-to-cart{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 19;
	color: #FF9344;
	font-size: 1.2vw;
	font-weight: 600;
	top: 9.8vw;
	right: 18.5vw;
	background-color: white;
	width: 13vw;
	height: 4vw;
	border-radius: 1vw;
    border: 0.2vw solid #FF9344;
		cursor: pointer;
}
.added-to-cart{
	position: fixed;
	background-color: #FFF9F7;
	color: #373a48;
	z-index: 18;
	top: 4vw;
	right: 3.5vw;
	height: 8vw;
	width: 28vw;
	padding-right: 7vw;
	padding-left: 0.8vw;
	padding-top: 0.6vw;
    border: 0.2vw solid #FF9344;
	border-radius: 0;
	font-size: 1.1vw;
	font-weight: 500;
}
.go-to-cart:hover{
	color: white;
	background-color: #FF9344;
}
@media screen and (max-width: 750px){
	.added-to-cart-icon{
		top: 3vw;
		right: 1vw;
		font-size: 18vw;
		height: 20vw;
		width: 20vw;
	}
	.added-to-cart{
		top: 4vw;
		right: 6.5vw;
		height: 16vw;
		width: 56vw;
		padding-right: 14vw;
		padding-left: 1vw;
		padding-top: 1vw;
		font-size: 2.2vw;
	}
	.go-to-cart{
		font-size: 2.4vw;
		top: 15vw;
		right: 36.5vw;
		width: 26vw;
		height: 8vw;
	}
}
@media screen and (max-width: 540px){
	.added-to-cart-icon{
		top: 3vw;
		right: 5vw;
		font-size: 28vw;
		height: 30vw;
		width: 30vw;
	}
	.added-to-cart{
		top: 4vw;
		right: 23vw;
		height: 26vw;
		width: 70vw;
		padding-right: 20vw;
		padding-left: 1vw;
		padding-top: 1.5vw;
		font-size: 3.5vw;
	}
	.go-to-cart{
		font-size: 3.5vw;
		top: 23vw;
		right: 57vw;
		width: 36vw;
		height: 12vw;
	}
}

/*Rooms Page*/
#room-menu{
	position: absolute;
	top: 13vw;
	z-index: 50;
	width: 66vw;
	height: auto;
	background-color: #f5f5f5;
	color: black;
	border: 0.2vw solid #e3e3e3;
	padding-left: 2vw;
	padding-right: 2vw;
    display:None;
}
.room-item{
	position: relative;
	display: inline-block;
	float: left;
	text-align: center;
	font-family: Verdana;
	width: 24%;
	height: 14vw;
	margin-right: 0.8vw;
	margin-top: 1vw;
	padding: 0;
	font-size: 1.2vw;
}
.room-item:nth-child(4n){
    margin-right: 0;
}
.room-image{
	width: 100%;
	height: 11vw;
	margin-bottom: 0.3vw;
}
.room-title{
	width: 100%;
}
.room-item:hover{
	color: #FF6C00;
	cursor: pointer;
}
#room-menu a{
	display: inline-table;
	padding-bottom: 0.5vw;
	color: #000000;
}
#room-menu a:hover{
	color: #FF6C00;
}
.room-drop{
	position: absolute;
	display: none;
	z-index: 51;
	background-color: #f5f5f5;
	width: 100%;
	height: auto;
	top: 13.5vw;
}
.room-item:hover .room-drop{
	display: block;
}
#room-page{
	width: 66vw;
	height: auto;
}
#room-page img{
	max-height: 13vw;
	max-width: auto;
}
#room-page a{
	display: inline-block;
	float: left;
	margin-right: 0.5vw;
	margin-top: 0.5vw;
}

/*Room*/
#room {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
}
#room img{
	max-width: 90vw;
	max-height: auto;
}
.room-name{
	width: 100%;
	font: verdana;
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	color: #FF6C00;
}

/*Product Cards*/
#room-card .card{
    display: inline-block;
	height: 23vw;
    width: 24.2%;
    float: left;
    margin: 0;
    margin-left: auto;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    padding: 0;
    border: 0.15vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
}
#room-card .card-open{
    display: none;
	height: auto;
    width: 16.5vw;
    float: left;
	top: -5px;
	left: -3px;
    margin: 0;
    padding: 0;
    border: 0.16vw solid #e3e3e3;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #515050;
	text-align: center;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	margin-top: 0;
}
#room-card .card:nth-child(4n){
    margin-right: 0;
}
#room-card img{
    width: 100%;
    height: 15vw;
	border-bottom: 0.15vw solid #e3e3e3;
}
#room-card .card-title{
	width: 100%;
	height: 2.8vw;
	color: black;
	font-family: "MyriadProBold";
    font-size: 1.5vw;
    font-style: italic;
    letter-spacing: -0.1vw; 
    line-height: 1;
    margin: 0;
	margin-top: 0.7vw;
	padding: 0;
	text-align: center;
}
#room-card .ind-code{
    color: #515050;
	font-family: "MyriadProRegular";
	width: 100%;
    font-size: 1.1vw;
	margin: 0;
}
#room-card .card-text{
	display: none;
	color: #515050;
	font-family: "MyriadProRegular";
    font-size: 1vw;
	margin: 0;
	margin-top: 0.3vw;
	margin-left: 3%;
	margin-right: 3%;
	width: 94%;
}
#room-card .card-price{
	width: 100%;
    font-family: "MyriadProBold";
    font-size: 1.7vw;
    font-style: italic;
    color: #ff6c00;
	margin: 0;
}
#room-card .fa-search-plus{
	position: absolute;
	font-size: 1.7vw;
	opacity: .5;
	right: 1.5%;
	top: 1%;
}
#room-card .button-item {
  display: none;
  margin-top: 0vw;
  margin-bottom: 0.5vw;
  padding-bottom: 0vw;
}
#room-card a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 0.7vw;
}
#room-card .btn-1 {
  padding: 1em 3em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
}
#room-card .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#room-card .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#room-card .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
#room-card .card:hover .card-open{
	display: inline-block;
	z-index: 10;
	position: absolute;
	margin: 0;
}
#room-card .card:hover .card-text{
	display: block;
}
#room-card .card:hover .button-item{
	display: block;
}


/*Cart*/
#cart{
	padding-top: 0.5vw;
}
#cart-price-total{
	position: relative;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	border: 0.1vw solid #e3e3e3;
	margin-top: 0.5vw;
	margin-bottom: 1vw;
	padding-right: 1vw;
	padding-top: 0.5vw;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#cart-item{
	position: relative;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	border: 0.1vw solid #e3e3e3;
	margin-top: 0.5vw;
	margin-bottom: 1vw;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}
#cart-item img{
	width: 6.11vw;
	height: 100%;
	margin-right: 0.5vw;
}
#cart-item img:hover{
	z-index: 30;
	transform: scale(3);
}
#cart-item a{
	display: inline-block;
	text-align: center;
	font-family: verdana;
	width: 15vw;
	font-size: 1.4vw;
	margin-right: 0.5vw;
}
#cart-item h6{
	text-align: center;
	padding-top: 0.5vw;
	margin-right: 0.5vw;
	margin-left: 0.5vw;
}
#cart-item .amount-cart{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17vw;
}
#cart-item .cart-price{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13vw;
}
#cart-item .cart-total{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13vw;
}
#cart-price-total .cart-price{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13vw;
}
#cart-price-total .cart-total{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 13vw;
}
#cart-price-total .amount-cart{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 17vw;
}
#cart-price-total .cart-name{
	display: inline-block;
	text-align: center;
	width: 15vw;
	margin-right: 0.5vw;
}
#cart-item input{
	width: 5vw;
}
#cart-item .fa-times-circle{
	position: absolute;
	left: -5vw;
	font-size: 4vw;
	color: #FF6C00;
}
#cart-item .fa-times-circle:hover{
	color: red;
}
#cart-offer{
	position: relative;
	box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.1);
	border: 0.1vw solid #e3e3e3;
	margin-top: 0.5vw;
	margin-bottom: 1vw;
	width: 100%;
	height: auto;
	padding: 1vw;
	display: flex;
	align-items: center;
}
#cart-offer h6{
	text-align: center;
	padding-top: 0.5vw;
	margin-right: 0.5vw;
	margin-left: 0.5vw;
}
#cart-offer .button-item {
  display: inline-block;
  position: absolute;
  right: 0.5vw;
}
#cart-offer .button-item-2 {
  display: inline-block;
  position: absolute;
  right: 11vw;
}
#cart-offer .btn-1 {
  padding: 1em 1em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 0.9vw;
}
#cart-offer .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#cart-offer .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#cart-offer .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
/*Ordering*/
#ordering p {
  margin: 0 0 20px;
  line-height: 1.5;
}
#number-price p{
	line-height: 0;	
}
#ordering {
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  background: #fff;
}
#ordering section {
  display: none;
  padding: 20px 0 0;
}
#ordering input[type=radio] {
    display: none;
}
#ordering label {
  font-size: 1.3vw;
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 15px;
  font-weight: 600;
  text-align: center;
  color: #515050;
  border: 0.1vw solid transparent;
}
#ordering label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
#ordering label[for*='1']:before {
  content:"\f007";
}
#ordering label[for*='2']:before {
  content:"\f0d1";
}
#ordering label[for*='3']:before {
  content: '\f0d6';
}
#ordering label:hover {
  color: #888;
  cursor: pointer;
}
#ordering input:checked + label {
  color: #ff6c00;
  border: 2px solid #ddd;
  border-top: 3px solid #ff6c00;
  border-bottom: 1px solid #fff;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}
@media screen and (max-width: 750px) {
  #ordering label {
    font-size: 0;
  }
  #ordering label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  #ordering label {
    padding: 15px;
  }
}
#ordering-input input{
	display: inline-block;
	margin-bottom: 2vw;
	margin-right: 0.5vw;
	width: 13.5vw;
	height: 2.5vw;
	font-size: 1.3vw;	
}
#ordering-input p{
	display: inline-block;
	font-size: 1.3vw;
	margin-right: 0.5vw;
	margin-bottom: 2vw;
}
#ordering-input i{
	color: red;
	margin-right: 0.1vw;
}
#ordering-input .comment-input{
	margin-left: 0.6vw;
	margin-bottom: 0;
}
#ordering-input textarea{
	margin-left: 0.6vw;
	width: 30vw;
	height: 8vw;
	max-height: 8vw;
	min-height: 8vw;
	font-size: 1.3vw;
}
#ordering-input select{
	width: 13.5vw;
	height: 2.5vw;
	margin-right: 0.5vw;
	font-size: 1.3vw;
}
#ordering .button-item {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-bottom: 0.5vw;
	padding-left: 0.6vw;
	padding-top: 1vw;
}
#ordering .btn-1 {
  padding: 1em 1em;
  border: 2px solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 0.9vw;
}
#ordering .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#ordering .btn-1:hover {
  color: white;
  border: 2px solid #ADA6A6;
  box-shadow: none;
}
#ordering .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}

/*Admin Panel*/
.admin-menu{
	background-color: #f5f5f5;
	width: 66vw;
	height: 4vw;
	margin-bottom: 0.5vw;
}
.btn-adm{
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 33.33%;
	height: 100%;
	color: #515050;
	font-family: verdana;
	font-size: 1.2vw;
	font-weight: 600;
}
.btn-adm:hover{
	background-color:#e4e4e4;
    color: #ff6c00;
	cursor: pointer;
}
#order-info{
	position: relative;
	width: 66vw;
	height: auto;
	background-color: #f5f5f5;
	margin-top: 0.5vw;
	margin-bottom: 1vw;
	border: 0.15vw solid #e3e3e3;
	padding: 1vw;
	padding-bottom: 4vw;
}
#order-info p{
	color: #515050;
	font-weight: 500;
	line-height: 1;
}
#order-info b{
	color: #000000;
}
#order-info .adm-title{
	color: #3C3B3B;
	font-weight: 700;
	text-decoration: underline;
}
#open-info .fa-chevron-down{
	margin-left: 0.5vw;
}
#open-info {
	position: absolute;
	width: 100%;
	left: -1vw;
	display: flex;
	justify-content: center;
	bottom: 0.5vw;
}
#open-info .btn-1 {
  padding: 1em 1em;
  border: 0.15vw solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 1vw;
}
#open-info .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#open-info .btn-1:hover {
  color: white;
  border: 0.15vw solid #ADA6A6;
  box-shadow: none;
}
#open-info .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}
.open-info{
	padding-bottom: 1vw;
}
#close-info {
	display: none;
	position: absolute;
	width: 100%;
	left: -1vw;
	justify-content: center;
	bottom: 0.5vw;
}
#close-info .btn-1 {
  padding: 1em 1em;
  border: 0.15vw solid #ff6c00;
  transition: all 300ms ease;
  color: #ff6c00;
  z-index: 1;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  font-size: 1vw;
}
#close-info .btn-1:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: all 0ms ease;
}
#close-info .btn-1:hover {
  color: white;
  border: 0.15vw solid #ADA6A6;
  box-shadow: none;
}
#close-info .btn-1:hover:before {
  position: absolute;
  color: white;
  content: "";
  width: 100%;
  height: 100%;
  background: #ff6c00;
  top: 0;
  left: 0%;
  z-index: -1;
  transition: all 300ms ease;
}


/*Fonts*/
	@font-face {
			font-family: "MyriadProRegular";
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
			src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
			url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProBold";
			src: url("../fonts/MyriadProBold/MyriadProBold.eot");
			src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
			url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProItalic";
			src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
			src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
			url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProSemiBold";
			src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
			src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
			url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProBoldItalic";
			src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
			src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
			url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
	@font-face {
			font-family: "MyriadProSemiBoldItalic";
			src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
			src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
			url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}




.icon-image{
    height: 40px;
    width: 40px;
}
