{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
    <script src="{% static 'css3-mediaqueries.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ikea.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<body>
<div class="grid" id="admin">
		<div class="admin-menu">
			<div class="btn-adm" oncli>Обновить товары</div>
			<div class="btn-adm">Загрузить артикулы</div>
			<div class="btn-adm">Заказы клиентов</div>
		</div>
		<select id="order-sort">
            <option>Фильтрация по статусу заказа</option>
            <option value="increase">Пункт сортировки 1</option>
            <option value="decline">Пункт сортировки 2</option>
            <option value="from_A_to_Z">Пункт сортировки 3</option>
            <option value="from_Z_to_A">Пункт сортировки 4</option>
        </select>
</div>

{% block content %}{% endblock %}

{% block templates %}{% endblock %}

{% block onload_js %}{% endblock %}
</body>
</html>