{% extends 'admin_panel/admin_template.html' %}
{% block title %}Змiнити курс{% endblock %}

{% block content %}
    {% if in_process == True %}
        <h2>Зачекайте поки завершиться змiна курсу</h2>
    {% elif %}
        <form id="change_coef">
        {{ form.coef }}
        <input type="submit" value="Зберегти">
        </form>
    {% endif %}
{% endblock %}

{% block onload_js %}
    <script>
        $('body').on('submit', '#change_coef', function (e) {
            e.preventDefault();
            var coef = $(this).find('#id_coef').val();
            console.log(coef);
            $.ajax({
                url:'{% url "change_coef" %}',
                method:'POST',
                data:{'csrfmiddlewaretoken':'{{ csrf_token }}', 'coef':coef},
                success:function (data) {
                    console.log(data)
                },
                error:function (data) {
                    console.log('error')
                },
            })
        })
    </script>
{% endblock %}