{% extends 'admin_panel/admin_template.html' %}
{% block title %}Змiнити курс{% endblock %}

{% block content %}
    <div class="grid">
    {% if in_process == True %}
        <h2>Зачекайте поки завершиться змiна курсу</h2>
    {% else %}
        <form id="change_coef">
        {{ form.coef }}
        <input type="submit" value="Зберегти">
        </form>
    {% endif %}
    </div>
{% endblock %}

{% block onload_js %}
    <script>
        $('body').on('submit', '#change_coef', function (e) {
            e.preventDefault();
            var coef = $(this).find('#id_coef').val();
            $(this).hide();
            $.ajax({
                url:'{% url "change_coef" %}',
                method:'POST',
                data:{'csrfmiddlewaretoken':'{{ csrf_token }}', 'coef':coef},
                success:function (data) {
                    if(data.executable){alert('Зачекайте поки завершиться змiна курсу')}
                    if(data.success){alert('Процес змiни курсу почато, зачекайте поки завершиться')}
                },
                error:function (data) {
                    alert('Посмлка');
                },
            })
        })
    </script>
{% endblock %}