{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Загрузка продукту</title>
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
</head>

<body>
<form method="POST" id="download_product">{% csrf_token %}{{ form.as_p }}<input type="submit" value="Почати загрузку"></form>

<script>
    $('body').on('submit', '#download_product', function (event) {
        event.preventDefault();
        var subcategory_id = $('#id_subcategory option:selected').val(),
            sub_subcategory_id = $('#id_sub_subcategory option:selected').val(),
            article_number = $('#id_article_number').val();
        console.log(article_number);
        $.ajax({
            url:'{% url "download_product" %}',
            method: 'POST',
            data:{'csrfmiddlewaretoken':'{{ csrf_token }}', 'subcategory_id':subcategory_id, 'sub_subcategory_id':sub_subcategory_id, 'article_number': article_number},
            success:function (data) {alert('ok')},
            error:function () {alert('error')}
        })
    })
</script>
</body>