{% extends 'shop_template.html' %}
{% block title %}Заказы{% endblock %}

{% block content %}
    {% for order in orders %}
        <div class="order" id="{{ order.unique_identificator }}">
            <h4>Уникальный идентификатор : {{ order.unique_identificator }}</h4>
            <h5>Общая стоимость: {{ order.order_price }}, status: {{ order.get_status_display|upper }}<button value="{{ order.unique_identificator }}">Изменить</button></h5>
            {% for order_info in orders_info %}
                {% if order_info.order == order %}
                    <h6>ФИО: {{ order_info.sorname }} {{ order_info.name }} {{ order_info.second_name }}<br>
                        Телефон: {{ order_info.phone }}, Email: {{ order_info.email }}
                    </h6>
                {% endif %}
            {% endfor %}

            {% for order_delivery in orders_delivery %}
                {% if order_delivery.order == order %}
                    Данные для отправки: {{ order_delivery.method_readable }}
                {% endif %}
            {% endfor %}

            {% for order_payment in orders_payment %}
                {% if order_payment.order == order %}
                    Способ оплаты: {{ order_payment.method_readable }}
                {% endif %}
            {% endfor %}
            <div class="products"></div>

            <button class="show_product_in_order" data-order_identificator="{{ order.unique_identificator }}">Показать детали заказа</button>
            <button class="close_product_in_order" data-order_identificator="{{ order.unique_identificator }}">Скрыть детали заказа</button>

        </div>
    {% endfor %}
{% endblock %}

{% block templates %}
    <script type="text/productTemplate" id="product_template">
        <div class="product" id="<%article_number%>">
            <img src="<%image_url%>"><%title%>, <%article_number%>, count: <%count%>, per one: <%price_per_one%>, summ: <%price%>
        </div>
    </script>
{% endblock %}

{% block onload_js %}
    <script>
        $('body').on('click', '.show_product_in_order', function () {
            var unique_identificator = $(this).data('order_identificator'),
                token = $('input[name="csrfmiddlewaretoken"]').val(),
                template = document.getElementById('product_template').innerHTML;
            $.ajax({
                url: '{% url "order_detail" %}',
                method: 'POST',
                data:{
                    'csrfmiddlewaretoken':token,
                    'unique_identificator':unique_identificator,
                },
                success: function (data) {
                    render_products(data, template, $(this));
                },
                error:function () {
                    alert('error');
                }
            })

        });

        function render_products(data, template, button) {
            Mustache.tags = ['<%','%>'];
            var product_template = template;
            for (i=0; i<data.products.length; i++){
                var query = data.products[i],
                    unique_identificator = data.unique_identificator;
                rendered_data = {
                    image_url: query.image,
                    title: query.title,
                    article_number:query.article_number,
                    price_per_one:query.price_per_one,
                    price:query.price,
                    count:query.count,
                };
                var rendered_template = Mustache.render(product_template, rendered_data);
                $('#' + unique_identificator).find('.products').append(rendered_template);
            }

            //кнопка меняет содержимое
            button.hide();
            button.siblings('.close_product_in_order').show();

        }

        //зыкрытие дополнительных товаров
        $('body').on('click', '.close_product_in_order', function () {
            $(this).hide();
            $('.product').hide();
            $(this).siblings('.show_product_in_order').show();
        })
    </script>
{% endblock %}