{% extends 'shop_template.html' %}
{% block title %}Заказы{% endblock %}

{% block content %}
    {% for order in orders %}
        <div class="order">
            <h4>Уникальный идентификатор : {{ order.unique_identificator }}</h4>
            <h5>Общая стоимость: {{ order.order_price }}, status: {{ order.get_status_display|upper }}<button value="{{ order.unique_identificator }}">Изменить</button></h5>
            {% for order_info in orders_info %}
                {% if order_info.order == order %}
                    <h6>ФИО: {{ order_info.sorname }} {{ order_info.name }} {{ order_info.second_name }}<br>
                        Телефон: {{ order_info.phone }}, Email: {{ order_info.email }}
                    </h6>
                {% endif %}
            {% endfor %}

            {% for order_delivery in orders_delivery %}
                {% if order_delivery.order == order %}
                    Данные для отправки: {{ order_delivery.method_readable }}
                {% endif %}
            {% endfor %}

            {% for order_payment in orders_payment %}
                {% if order_payment.order == order %}
                    Способ оплаты: {{ order_payment.method_readable }}
                {% endif %}
            {% endfor %}

            <button class="show_product_in_order" data-order_identificator="{{ order.unique_identificator }}">Показать детали заказа</button>

        </div>
    {% endfor %}
{% endblock %}

{% block onload_js %}
    <script>
        $('body').on('click', 'show_product_in_order', function () {
            var unique_identificator = $(this).data('unique_identificator'),
                token = $('input[name="csrfmiddlewaretoken"]').val();
            alert(unique_identificator);
            alert(token);

            $.ajax({
                url: '{% url "order_detail" %}',
                method: 'POST',
                data:{
                    'csrfmiddlewaretoken':token,
                    'unique_identificator':unique_identificator,
                },
                success: function () {
                    alert('ok');
                },
                error:function () {
                    alert('error');
                }
            })

        })
    </script>
{% endblock %}