{% extends 'shop_template.html' %}
{% block title %}Заказы{% endblock %}

{% block content %}
    {% for order in orders %}
        <div id="order-info" data-order_unique_identificator="{{ order.unique_identificator }}">
			<p class="adm-title">
                <form class="change_order_status" method="POST">{% csrf_token %}
                <label for="status">Статус заказа:</label>
                {{ change_order_status_form.status }}
                    <input type="submit" value="Сохранить" style="display: none;">
                </form>
            </p>

			<p>Дата заказа: <b>{{ order.updated|date:'Y-m-d H:i' }}</b></p>
			<p>Уникальный индетификатор: <b>{{ order.unique_identificator }}</b></p>
			<div class="button-item" id="open-info">
     			<a href="#" class="btn-1 show_product_in_order" data-order_identificator="{{ order.unique_identificator }}">Открыть информацию о заказе<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    		</div>
			<div class="button-item" id="close-info">
     			<a href="#" class="btn-1 close_product_in_order">Скрыть информацию о заказе<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    		</div>

            <div class="open-info" style="display:none;">
                {% for order_info in orders_info %}
                    {% if order_info.order == order %}
                        <p class="adm-title">Данные клиента:</p>
                        <p>ФИО: <b>{{ order_info.sorname }} {{ order_info.name }} {{ order_info.second_name }}</b> Телефон: <b>{{ order_info.phone }}</b> E-mail: <b>{{ order_info.email }}</b></p>
                    {% endif %}
                {% endfor %}

                {% for order_delivery in orders_delivery %}
                    {% if order_delivery.order == order %}
                        <p class="adm-title">Способ отправки:</p>
                        <p><b>{{ order_delivery.method_readable }}</b></p>
                    {% endif %}
                {% endfor %}

                {% for order_payment in orders_payment %}
                    {% if order_payment.order == order %}
                        <p class="adm-title">Способ оплаты:</p>
                        <p>Оплата: <b>{{ order_payment.method_readable }}</b></p>
                    {% endif %}
                {% endfor %}

                    <div id="cart">
                        <div id="cart-price-total">
                            <div class="cart-name"><h6>Название</h6></div>
                            <div class="amount-cart"><h6>Количество</h6></div>
                            <div class="cart-price"><h6>Цена за 1шт</h6></div>
                            <div class="cart-total"><h6>Сумма</h6></div>
                        </div>
                                <!-- товары -->
                    </div>

                    <div id="cart-offer">
                        <h6>Сумма: {{ order.order_price }}</h6>
                    </div>
            </div>

            <!--<button class="show_product_in_order" data-order_identificator="{{ order.unique_identificator }}">Показать детали заказа</button>
            <button class="close_product_in_order" data-order_identificator="{{ order.unique_identificator }}" style="display: none">Скрыть детали заказа</button>-->
        </div>
    {% endfor %}
{% endblock %}

{% block templates %}
    <script type="text/productTemplate" id="product_template">
        <div class="_cart-item" id="<%article_number%>">
            <img src="<%image_url%>" alt="#">
			<a><%title%><br><%article_number_with_dot%></a>
			<div class="amount-cart"><input type="number" value="<%count%>" id="product_count" placeholder="Количество..."><h6>шт.</h6></div>
			<div class="cart-price"><h6><%price_per_one%> грн.</h6></div>
			<div class="cart-total"><h6><%price%> грн.</h6></div>
			<i class="fa fa-times-circle" aria-hidden="true"></i>
		</div>
    </script>
{% endblock %}

{% block js %}
    <script>function get_select_value(status, object) {
        console.log(status, object);
        object.find('option[value="' + status + '"]').attr('selected', 'selected');
        console.log('status selected');
    }
    </script>
{% endblock %}

{% block onload_js %}
    <script>
        //изменения статуса заказа
        $('.order').on('change', 'select[name="status"]', function () {
            $form = $(this).parents('form');
            $form.find('input[type="submit"]').show();
            $form.submit(function (e) {
                e.preventDefault();
                var status = $(this).find('select[name="status"]').val(),
                    unique_identificator = $(this).parents('.order').attr('id'),
                    token = $('input[name="csrfmiddlewaretoken"]').val(),
                    data = {'status':status, 'unique_identificator':unique_identificator, 'csrfmiddlewaretoken':token};
                $.ajax({
                    url:'{% url "change_order_status" %}',
                    method:'POST',
                    data:data,
                    success:function () {
                        alert('ok');
                    },
                    error:function (){
                        alert('error');
                    }
                })
            })
            });

        $('body').on('click', '.show_product_in_order', function () {
            var unique_identificator = $(this).data('order_identificator'),
                token = $('input[name="csrfmiddlewaretoken"]').val(),
                template = document.getElementById('product_template').innerHTML,
                button = $(this);
            $.ajax({
                url: '{% url "order_detail" %}',
                method: 'POST',
                data:{
                    'csrfmiddlewaretoken':token,
                    'unique_identificator':unique_identificator,
                },
                success: function (data) {
                    render_products(data, template, button);
                },
                error:function () {
                    alert('error');
                }
            })

        });

        function render_products(data, template, button) {
            Mustache.tags = ['<%','%>'];
            var product_template = template;
            for (i=0; i<data.products.length; i++){
                var query = data.products[i],
                    unique_identificator = data.unique_identificator;
                rendered_data = {
                    image_url: query.image,
                    title: query.title,
                    article_number:query.article_number,
                    price_per_one:query.price_per_one,
                    price:query.price,
                    count:query.count,
                };
                var rendered_template = Mustache.render(product_template, rendered_data);
                $('#order-info[data-order_unique_identificator="' + unique_identificator + '"]').find('#cart').append(rendered_template);
            }

            //кнопка меняет содержимое
            button.hide();
            button.parents('#order-info').find('.close_product_in_order').show();
            button.siblings('.close_product_in_order').show();
            button.parents('#order-info').find('.open-info').show();

        }

        //зыкрытие дополнительных товаров
        $('body').on('click', '.close_product_in_order', function () {
            $(this).hide();
            $('.cart-item').remove();
            $(this).parents('#order-info').find('.show_product_in_order').show();
        })
    </script>
{% endblock %}