{% extends 'shop_template.html' %}
{% load staticfiles %}
{% block title %}Catalogue{% endblock %}

{% block path %}
    <!--если открыта подкатегория-->
    {% if is_subcategory %}{{ category_path.title }} / <a href="{% url 'getOneCategoryProducts' subcategory_path.unique_identificator %}">{{ subcategory_path.title }}</a>{% endif %}

    <!--если открыта под подкатегория-->
    {% if is_sub_subcategory %}{{ category_path.title }} / <a href="{% url 'getOneCategoryProducts' subcategory_path.unique_identificator %}">{{ subcategory_path.title }}</a>
        / <a href="{% url 'getOneCategoryProducts' sub_subcategory_path.unique_identificator %}">{{ sub_subcategory_path.title }}</a>{% endif %}
{% endblock %}

{% block content %}

    <!--Product Cards-->
{% if displayProducts %}
        <div class="grid-prod" id="product-cards"></div>
    <script>start_sort()</script> <!--начальная сортировка продуктов-->

    <!--Big Images-->
    <!--New-->
	<div class="img-block" id="big-img">
		<i class="fa fa-times close-icon" id="close_images_block" aria-hidden="true"></i>
		<div class="btns-all-images">
			<p class="name">Бримэнс тумба</p>
			<p class="price">29000 грн.</p>
			<div class="button-item">
     			<a href="" class="btn-1">Добавить в корзину</a>
    		</div>
		</div>
		<div class="mini-img-list">
        </div>
 	</div>
{% endif  %}

{% if displayCategories %}
    {% for sub_subcategory in subSubCategories %}
        <p><a href="{% url 'getOneCategoryProducts' sub_subcategory.unique_identificator %}">{{ sub_subcategory.title }}</a></p>
    {% endfor %}
{% endif %}

{% endblock %}

{% block templates %}
    <script type="text/basket-message" id="basketMessage">
        <div class="added-block" style="display: none;" id="added_product_message">
            <div class="added-to-cart-icon">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
                <div class="added-to-cart">Продукт <span><%product_title%></span> <span>(<%product_article%>)</span> в количестве <span><%count%></span> добавлен в корзину </div>
            <div class="go-to-cart" onclick="document.location.href='{% url 'show_basket' %}'">Перейти в корзину</div>
        </div>
    </script>
{% endblock %}

{% block js %}
        <!-- card template -->
    <script type="text/card-template" id="cardTemplate">
        <div class="card" data-article_number="<%product_article_number%>">
            <div class="card-open">
                <i class="fa fa-search-plus get-all-images" data-unique_identificator=<%unique_identificator%> aria-hidden="true"></i>
                <img src="<%image_url%>" alt=<%product_article_number%>
            <!--Product Info Open-->
                <a class="card-title" href="/shop/product_detail/product=<%product_article_number%>"><%product_title%></a>
                <p class="ind-code">Артикул: <%product_article_number%></p>
                <p class="card-text"><%product_dimensions%></p>
                <p class="card-price"><%product_price%> грн.</p>
                <div class="button-item">
                    <a href="#" class="btn-1 add_to_basket">Добавить в корзину</a>
                </div>
            </div>
            <!--Product Images-->
                <i class="fa fa-search-plus get-all-images" aria-hidden="true"></i>
                <img src="<%image_url%>" alt="<%product_article_number%>">
            <!--Product Info-->
                <a class="card-title"><%product_title%></a>
                <p class="ind-code">Артикул: <%product_article_number%></p>
                <p class="card-price"><%product_price%> грн.</p>
        </div>
    </script>

    <script>

        //*начальный контент без сортировки
        function start_sort(){
            loader_show(); //*показываем лоадер
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            var unique_identificator = '{{ category.unique_identificator }}';
            var template = document.getElementById('cardTemplate').innerHTML;
            get_sort('normal', unique_identificator, token, template);
        };

    </script>
{% endblock %}

{% block onload_js %}
    <script>
        tags_list = ['.img-block', '.get-all-images'];
        hide_tags(tags_list);
        hover_product_card();

        //*сортировка*//
        $('body').on('change', '#get_sort', function () {
            loader_show(); //*показываем лоадер
            hide_tags(['#product-cards']); //*скрываем контент с карточками
            remove_tags(['.card']); //*удаляем неосортированные карточки продуктов
            var sort_by = $(this).find('option:selected').val();
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            var unique_identificator = '{{ category.unique_identificator }}';
            var template = document.getElementById('cardTemplate').innerHTML;
            get_sort(sort_by, unique_identificator, token, template); //*получаем список отсортированных и генерируем контент

        });

        //ajax загрузка изображений артикула
        $('body').on('click', '.get-all-images', function (){
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            var unique_identificator = $(this).data('unique_identificator');
            console.log(unique_identificator);

            $.ajax({
                url: "{% url 'get_all_product_images' %}",
                method: 'post',
                data: {
                    'csrfmiddlewaretoken':token,
                    'unique_identificator':unique_identificator
                },
                success: function (data) {
                    $block_to_paste_images=$('.img-block');
                    $block_to_paste_images.slideDown(function (img) {
                    $block_to_paste_images.prepend('<img class="big-img-item" src="' + data.images[0] + '">');
                    for (i=0; i<data.images.length; i++) {
                        $block_to_paste_images.find('.mini-img-list').append('<img class="mini-img" src="' + data.images[i] + '"></a>');
                    };

                    });
                }

            });

            //клик на маленькое изображение и загрузка большого
            $('.img-block').on('click', '.mini-img', function() {
                var img=$(this);
                $('.big-img-item').attr('src', img.attr('src'));
            })
        });

        //закрытие блока с загруженными изображениями
        $('#close_images_block').click(function () {
            $('.img-block').find('img').remove();
            $('.img-block').slideUp();
        });

        //ajax добавление в корзину
        $('.content').on('click', '.add_to_basket', function () {
            var token = $('input[name="csrfmiddlewaretoken"]').val(),
                product_article_number = $(this).parents('.card').data('article_number'),
                count = 1;
            console.log(token, product_article_number, count);
            ajax_add_to_basket(token, product_article_number, count, function (data){generate_added_message(data)});
        });

        //генерация блока о добавленнии продукта в корзину
        function generate_added_message(data){
            Mustache.tags = ['<%', '%>'];
            var template = document.getElementById('basketMessage').innerHTML,
                rendered_template = Mustache.render(template, data);
            $('.content').prepend(rendered_template);
            $block = $('#added_product_message');
            $block.fadeIn(600, function () {
                function reset_added_product(){
                    $block.fadeOut(600, function () {
                        $('#added_product_message').remove();
                    });
                };
                setTimeout(reset_added_product, 3000);
            });
        }
    </script>

{% endblock %}
