{% extends 'shop_template.html' %}
{% block title %}{% endblock %}
﻿
{% block content %}
<!--Room-->
	<div class="grid" id="room">
		<div class="room-img">
			<img src="{{ image.image.url }}" alt="{{ image.title }}">
		</div>
		<div id="product-cards">
		<!--Card-1-->
            <div class="card">
				<div class="card-open">
                <!--Product Images Open-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info Open-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
                    <p class="card-text">Комод с 2 ящиками, под белый дуб, белый, шикарный комод, лучший просто.</p>
					<p class="card-price">2999 грн.</p>
                	<div class="button-item">
     					<a href="" class="btn-1">Добавить в корзину</a>
						<div class="amount"><span>В наличии:</span>1000 шт.</div>
    				</div>
            	</div>
                <!--Product Images-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
					<p class="card-price">2999 грн.</p>
            	</div>
			</div>
	</div>
{% endblock %}