{% extends 'shop_template.html' %}

{% block content %}


    <!--One Product-->
	<!--Images-->
	<div class="grid" style="margin-top: 0.5vw">
		<!--Small Images-->
		<div class="one-prod-imgs">
            {% for image in productImages %}
                <div class="small-img"><img class="img-item" src="{{ image.image.url }}" alt="{{ image.title }}"></div>
            {% endfor %}
		</div>
		<!--Large Image-->
		<div class="one-prod-img">
			<div class="large-img"><img class="img-item" src="{{ productImageLarge.image.url }}" alt="{{ productImageLarge.title }}"></div>
		</div>
		<!--Info Block-->
		<div class="info-block" id="info-block">
			<!--Name-->
			<div class="prod-name">{{ product.title }}</div>
			<!--Info-->
            <div class="prod-info">{{ product.description }}</div>
			<div class="prod-price">{{ product.price }}</div>
			<!--Buttons-->
			<div class="prod-btns">
                	<div class="button-item">
     					<a href="" class="btn-1">Добавить в корзину</a>
						<div class="amount"><span>В наличии:</span>1000 шт.</div>
    				</div>
			</div>
		</div>
	</div>
	<!--Pages Block-->
	<main class="grid" id="pages-block">
        {% if product.key_feautures != None %}
  		    <input id="tab1" type="radio" name="tabs" checked>
  			<label for="tab1">Описание</label>
        {% endif %}

        {% if product.goot_to_know != None or product.care_instructions != None or product.materials_info != None %}
  		    <input id="tab2" type="radio" name="tabs">
  			<label for="tab2">Информация</label>
        {% endif %}

        {% if product.dimensions != None %}
  		    <input id="tab3" type="radio" name="tabs">
  			<label for="tab3">Размеры</label>
        {% endif %}

  		<input id="tab4" type="radio" name="tabs">
        <label for="tab4">Дополняющие товары</label>

  {% if product.key_feautures != None %}
  <section id="content1">
    <p>
        <h3>Описание</h3>
        <span>{{ product.key_feautures }}</span>
    </p>
  </section>
  {% endif %}

  {% if product.goot_to_know != None or product.care_instructions != None or product.materials_info != None %}
  <section id="content2">
    {% if product.goot_to_know != None%}
    <p>
        <h3>Полезно знать</h3>
        <span>{{ product.good_to_know }}</span>
    </p>
    {% endif %}

    {% if product.care_instruction != None %}
    <p>
        <h3>Инострукция по уходу</h3>
        <span>{{ product.care_instructions }}</span>
    </p>
    {% endif %}

    {% if product.materials_info != None %}
    <p>
        <h3>Материалы</h3>
        <span>{{ product.materials_info }}</span>
    </p>
    {% endif %}

  </section>
  {% endif %}

  {% if product.dimensions != None %}
  <section id="content3">
    <p>
        <h3>Размеры</h3>
        <span>{{ product.dimensions }}</span>
    </p>
  </section>
  {% endif %}

  <section id="content4">
    		<!--Card-1-->
            <div class="card">
				<div class="card-open">
                <!--Product Images Open-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info Open-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
                    <p class="card-text">Комод с 2 ящиками, под белый дуб, белый, шикарный комод, лучший просто.</p>
					<p class="card-price">2999 грн.</p>
                	<div class="button-item">
     					<a href="" class="btn-1">Добавить в корзину</a>
    				</div>
            	</div>
                <!--Product Images-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
					<p class="card-price">2999 грн.</p>
            	</div>

	  		<!--Card-2-->
            <div class="card">
				<div class="card-open">
                <!--Product Images Open-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info Open-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
                    <p class="card-text">Комод с 2 ящиками, под белый дуб, белый, шикарный комод, лучший просто.</p>
					<p class="card-price">2999 грн.</p>
                	<div class="button-item">
     					<a href="" class="btn-1">Добавить в корзину</a>
    				</div>
            	</div>
                <!--Product Images-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
					<p class="card-price">2999 грн.</p>
            	</div>

	  		<!--Card-3-->
            <div class="card">
				<div class="card-open">
                <!--Product Images Open-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info Open-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
                    <p class="card-text">Комод с 2 ящиками, под белый дуб, белый, шикарный комод, лучший просто.</p>
					<p class="card-price">2999 грн.</p>
                	<div class="button-item">
     					<a href="" class="btn-1">Добавить в корзину</a>
    				</div>
            	</div>
                <!--Product Images-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
					<p class="card-price">2999 грн.</p>
            	</div>

	  		<!--Card-4-->
            <div class="card">
				<div class="card-open">
                <!--Product Images Open-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info Open-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
                    <p class="card-text">Комод с 2 ящиками, под белый дуб, белый, шикарный комод, лучший просто.</p>
					<p class="card-price">2999 грн.</p>
                	<div class="button-item">
     					<a href="" class="btn-1">Добавить в корзину</a>
    				</div>
            	</div>
                <!--Product Images-->
					<i class="fa fa-search-plus" aria-hidden="true"></i>
                    <img src="images/product-cards/product-1-1.JPG" alt="First slide">
                <!--Product Info-->
                    <a class="card-title">АСКВОЛЬ tovar nazva ssmkd</a>
					<p class="ind-code">Артикул: 595969</p>
					<p class="card-price">2999 грн.</p>
            	</div>

  </section>
</main>


    <h3>{{ product.title }}<br>{{ product.article_number }}<br>{{ product.description }}</h3>
    <span>Цена: <b>{{ product.price }} PLN</b></span><br>

    <span id="availability">Наличие: <b><button id="check_availabiliti_button" onclick="check_availability({{ product.article_number }})">Узнать наличие в Польше</button></b></span>

    {% for image in productImages %}
        <p><img src="{{ image.image.url }}" alt="{{ image.title }}" style="margin: 5px; border: 2px solid black; display: inline-block;"
            height="200px" width="200px"></p>
    {% endfor %}

    {% if colorOptions %}
        <p>
            <h3>Цвета</h3>
                    {% for color in colorOptions %}
                        {% for image in complementaryImages %}
                            {% for product in image.product.all %}
                                {% if color == product %}
                                    <img src="{{ image.image.url }}" class="icon-image"><a href="{% url 'productDetail' color %}">{{ color }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
        </p>
    {% endif %}

    {% if sizeOptions %}
        <p>
            <h3>Размеры</h3>
            {% for size in ziseOptions %}
                {% for image in complementaryImages %}
                    {% for product in image.product.all %}
                        {% if size == product %}
                            <p><img src="{{ image.image.url }}" class="icon-image">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
               <a href="{% url 'productDetail' size %}">{{ size }}</a></p>
            {% endfor %}
        </p>
    {% endif %}

    {% if modelOptions %}
            <h3>Модели</h3>
            {% for model in modelOptions %}
                {% for image in complementaryImages %}
                    {% for product in image.product.all %}
                        {% if model == product %}
                            <p><img src="{{ image.image.url }}" class="icon-image">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
               <a href="{% url 'productDetail' model %}">{{ model }}</a></p>
            {% endfor %}
    {% endif %}

    <p>
        <h3>Описание</h3>
        <span>{{ product.key_feautures }}</span>
    </p>

    <p>
        <h3>Полезно знать</h3>
        <span>{{ product.good_to_know }}</span>
    </p>

    <p>
        <h3>Инострукция по уходу</h3>
        <span>{{ product.care_instructions }}</span>
    </p>

    <p>
        <h3>Материалы</h3>
        <span>{{ product.materials_info }}</span>
    </p>

    <p>
        <h3>Размеры</h3>
        <span>{{ product.dimensions }}</span>
    </p>

    {% if complementaryProducts%}
    <p>
        <h3>Дополняющие продукты</h3>
        {% for complementary_product in complementaryProducts %}
            {% for image in complementaryImages %}
                {% for product in image.pruduct.all %}
                    {% if complementary_product == product %}
                        <img src="{{ image.image.url }}" alt="{{ complementary_product.article_number }}" class="icon-image">
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <a href="{% url 'productDetail' complementary_product.article_number %}">{{ complementary_product.article_number }}</a>
        {% endfor %}
    </p>
    {% endif %}



{% endblock %}

{% block js %}
    <script>
        function check_availability(article_number){
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url:'{% url "checkAvailability" %}',
                method:'POST',
                data:{
                    'csrfmiddlewaretoken':token,
                    'article_number':article_number
                },
                success: function (data) {
                    if (data.availability){
                        $('#check_availabiliti_button').hide();
                        $('#availability').find('b').text(data.availability);
                    } else if (data.successMessage){
                        $('#check_availabiliti_button').hide();
                        $('#availability').find('b').text(data.successMessage);
                    } else if (data.errorMessage){
                        $('#check_availabiliti_button').hide();
                        $('#availability').find('b').text(data.errorMessage);
                    }
                },
                error: function () {
                    $('#availability').text('Возникла ошибка, попробуйте позже');
                }
            });
        }
    </script>
{% endblock %}
