{% extends 'shop_template.html' %}

{% block path %}
    {% if sub_subcategory_path %}
        {% if is_sub_subcategory %}{{ category_path.title }} / <a href="{% url 'getOneCategoryProducts' subcategory_path.unique_identificator %}">{{ subcategory_path.title }}</a>
        / <a href="{% url 'getOneCategoryProducts' sub_subcategory_path.unique_identificator %}">{{ sub_subcategory_path.title }}</a>{% endif %}
    {% else %}
        {% if is_subcategory %}{{ category_path.title }} / <a href="{% url 'getOneCategoryProducts' subcategory_path.unique_identificator %}">{{ subcategory_path.title }}</a>{% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <span data-product_article='{{ product.article_number }}' data-product_title="{{ product.title }}" id='main_product_info'></span>
    
    <!--One Product-->
	<!--Images-->
	<div class="grid" style="margin-top: 0.5vw">
		<!--Small Images-->
		<div class="one-prod-imgs">
            {% for image in productImages %}
                <div class="small-img"><img class="img-item" src="{{ image.image.url }}" alt="{{ image.title }}"></div>
            {% endfor %}
		</div>
		<!--Large Image-->
		<div class="one-prod-img">
			<div class="large-img"><img class="img-item" src="{{ productImageLarge.image.url }}" alt="{{ productImageLarge.title }}"></div>
		</div>
		<!--Info Block-->
		<div class="info-block" id="info-block">
			<!--Name-->
			<div class="prod-name">{{ product.title }}</div>
			<!--Info-->
            <div class="prod-info">{{ product.description }}</div>

            {% if modelOptions %}
            <div class="model-select">
                <label for="btn-md-sel-open" id="model-select">Выбор модели <i class="fa fa-cog" aria-hidden="true"></i></label>
                <input type="checkbox" id="btn-md-sel-open">
                <div class="model-select-open" id="model-select-open">
                    {% for model in modelOptions %}
                        {% for image in complementaryImages %}
                            {% for product in image.product.all %}
                                {% if model == product %}
                                    <div class="model-select-item"><img src="{{ image.image.url }}" alt="#"><a href="{% url 'productDetail' model %}">{{ model.article_number }}</a></div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    <div class="model-select-item"><img src="images/product-cards/product-4-3.JPG" alt="#">Model 1, 102044</div>
                    <div class="model-select-item"><img src="images/product-cards/product-4-1.JPG" alt="#">Model 1, 102044</div>
                    <div class="model-select-item"><img src="images/product-cards/product-4-2.JPG" alt="#">Model 1, 102044</div>
                </div>
			</div>
            {% endif %}

            {% if sizeOptions %}
                <!--Size Select-->
                    <div class="size-select">
                        <label for="btn-sz-sel-open" id="size-select">Выбор размера <i class="fa fa-arrows" aria-hidden="true"></i></label>
                        <input type="checkbox" id="btn-sz-sel-open">
                        <div class="size-select-open" id="size-select-open">
                            {% for size in sizeOptions %}
                                {% for image in complementaryImages %}
                                    {% for product in image.product.all %}
                                        {% if size == product %}
                                            <div class="size-select-item"><img src="{{ image.image.url }}" alt="#"><a href="{% url 'productDetail' size %}">{{ size.dimensions }}</a></div>
                                        {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <a href="{% url 'productDetail' size %}">{{ size }}</a></p>
                            {% endfor %}
                            <div class="size-select-item"><img src="images/product-cards/product-1-3.JPG" alt="#">Model 1, 102044</div>
                            <div class="size-select-item"><img src="images/product-cards/product-1-2.JPG" alt="#">Model 1, 102044</div>
                            <div class="size-select-item"><img src="images/product-cards/product-1-1.JPG" alt="#">Model 1, 102044</div>
                        </div>
                    </div>

                <!--<p>
                    <h3>Размеры</h3>
                    {% for size in sizeOptions %}
                        {% for image in complementaryImages %}
                            {% for product in image.product.all %}
                                {% if size == product %}
                                    <p><img src="{{ image.image.url }}" class="icon-image">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                       <a href="{% url 'productDetail' size %}">{{ size }}</a></p>
                    {% endfor %}
                </p>-->
            {% endif %}

            {% if colorOptions %}
			<!--Color Select-->
			<div class="color-select">
				<label for="btn-cl-sel-open" id="color-select">Выбор цвета <i class="fa fa-square square-1" aria-hidden="true"></i><i class="fa fa-square square-2" aria-hidden="true"></i><i class="fa fa-square square-3" aria-hidden="true"></i></label>
				<input type="checkbox" id="btn-cl-sel-open">
				<div class="color-select-open" id="color-select-open">
                    {% for color in colorOptions %}
                        {% for image in complementaryImages %}
                            {% for product in image.product.all %}
                                {% if color == product %}
                                    <div class="color-select-item"><img src="{{ image.image.url }}" alt="{{ color.title }}">{{ color.color }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
				</div>
			</div>
            {% endif %}

			<!--Amount Select-->
			<div class="amount-select">
				<input type="number" id="amount-select" placeholder="Введите количество..." />
			</div>
			<!--Price-->
			<div class="prod-price">{{ product.price }}</div>
			<!--Buttons-->
			<div class="prod-btns">
                	<div class="button-item">
     				<a href="" class="btn-1" id="add_to_basket">Добавить в корзину</a>
                        	<div class="amount"><span>В наличии:</span><span id="product_available"></span></div>
    			</div>
			</div>
		</div>
	</div>
	<!--Pages Block-->
	<main class="grid" id="pages-block">
        {% if product.key_feautures%}
  		    <input id="tab1" type="radio" name="tabs" checked>
  			<label for="tab1">Описание</label>
        {% endif %}

        {% if product.goot_to_know or product.care_instructions or product.materials_info %}
  		    <input id="tab2" type="radio" name="tabs">
  			<label for="tab2">Информация</label>
        {% endif %}

        {% if product.dimensions %}
  		    <input id="tab3" type="radio" name="tabs">
  			<label for="tab3">Размеры</label>
        {% endif %}

        {% if complementaryProducts %}
  		<input id="tab4" type="radio" name="tabs">
        <label for="tab4">Дополняющие товары</label>
        {% endif %}

  {% if product.key_feautures %}
  <section id="content1">
    <p>
        <h3>Описание</h3>
        <span>{{ product.key_feautures }}</span>
    </p>
  </section>
  {% endif %}

  {% if product.good_to_know or product.care_instructions or product.materials_info %}
  <section id="content2">
    {% if product.good_to_know %}
    <p>
        <h3>Полезно знать</h3>
        <span>{{ product.good_to_know }}</span>
    </p>
    {% endif %}

    {% if product.care_instructions %}
    <p>
        <h3>Инострукция по уходу</h3>
        <span>{{ product.care_instructions }}</span>
    </p>
    {% endif %}

    {% if product.materials_info %}
    <p>
        <h3>Материалы</h3>
        <span>{{ product.materials_info }}</span>
    </p>
    {% endif %}

  </section>
  {% endif %}

  {% if product.dimensions %}
  <section id="content3">
    <p>
        <h3>Размеры</h3>
        <span>{{ product.dimensions }}</span>
    </p>
  </section>
  {% endif %}

    {% if complementaryProducts %}
  <section id="content4">
          {% for complementary_product in complementaryProducts %}
              <div class="card">
				<div class="card-open">
                <!--Product Images Open-->
                    {% for image in complementaryProductsImages %}
                        {% for image_product in image.product.all %}
                            {% if image_product == complementary_product %}
                                <img src="{{ image.image.url }}" alt="{{ image.title }}">
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <!--Product Info Open-->
                    <a class="card-title" href="{% url 'productDetail' complementary_product.article_number %}">{{ complementary_product.title }}</a>
					<p class="ind-code">Артикул: {{ complementary_product.article_number }}</p>
                    <p class="card-text">{{ complementary_product.description }}</p>
					<p class="card-price">{{ complementary_product.price }} грн.</p>
                	<div class="button-item">
     					<a href="" class="btn-1">Добавить в корзину</a>
    				</div>
            	</div>
                <!--Product Images-->
                    {% for image in complementaryProductsImages %}
                        {% for image_product in image.product.all %}
                            {% if image_product == complementary_product %}
                                <img src="{{ image.image.url }}" alt="{{ image.title }}">
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                <!--Product Info-->
                    <a class="card-title" href="{% url 'productDetail' complementary_product.article_number %}">{{ complementary_product.title }}</a>
					<p class="ind-code">Артикул: {{ complementary_product.article_number }}</p>
					<p class="card-price">{{ complementary_product.price }} грн.</p>
              </div>
          {% endfor %}
  </section>
    {% endif %}

</main>


    <!--старый код-->

    {% if colorOptions %}
        <p>
            <h3>Цвета</h3>
                    {% for color in colorOptions %}
                        {% for image in complementaryImages %}
                            {% for product in image.product.all %}
                                {% if color == product %}
                                    <img src="{{ image.image.url }}" class="icon-image"><a href="{% url 'productDetail' color %}">{{ color }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
        </p>
    {% endif %}

    {% if sizeOptions %}
        <p>
            <h3>Размеры</h3>
            {% for size in sizeOptions %}
                {% for image in complementaryImages %}
                    {% for product in image.product.all %}
                        {% if size == product %}
                            <p><img src="{{ image.image.url }}" class="icon-image">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
               <a href="{% url 'productDetail' size %}">{{ size }}</a></p>
            {% endfor %}
        </p>
    {% endif %}

    {% if modelOptions %}
            <h3>Модели</h3>
            {% for model in modelOptions %}
                {% for image in complementaryImages %}
                    {% for product in image.product.all %}
                        {% if model == product %}
                            <p><img src="{{ image.image.url }}" class="icon-image">
                        {% endif %}
                    {% endfor %}
                {% endfor %}
               <a href="{% url 'productDetail' model %}">{{ model }}</a></p>
            {% endfor %}
    {% endif %}


{% endblock %}

{% block js %}
    <script>
    </script>
{% endblock %}

{% block templates %}
    <script type="text/basket-message" id="basketMessage">
        <div class="added-block" style="display: none;" id="added_product_message">
            <div class="added-to-cart-icon">
                <i class="fa fa-check" aria-hidden="true"></i>
            </div>
                <div class="added-to-cart">Продукт <span><%product_title%></span> <span>(<%product_article%>)</span> в количестве <span><%count%></span> добавлен в корзину </div>
            <div class="go-to-cart" onclick="document.location.href='{% url 'show_basket' %}'">Перейти в корзину</div>
        </div>
    </script>
{% endblock %}

{% block onload_js %}
    <script>
        var global = window;

        var token = $('input[name="csrfmiddlewaretoken"]').val();
        var article_number_ = $('#main_product_info').data('product_article');

        var availability = check_availability(article_number_, function (availability){
            $('#product_available').text(availability);
            window.availability = availability * 1;
        });

        $('.small-img .img-item').click(function () {
           var image_url = $(this).attr('src');
           $('.large-img .img-item').attr('src', image_url);
        });

        //добавление товара в корзину
        $('#add_to_basket').click(function (e) {
            e.preventDefault();
            var product_count = $('#amount-select').val() * 1,
                product_article_number = $('#main_product_info').data('product_article');
            if (product_count > window.availability){
                alert('Запрашуемое количество привышает допустимое');
                $('#amount-select').val('');
            }
            if (product_count > 0 && product_count <= window.availability){
                //добавляем изменения в бд ajax
                ajax_add_to_basket(token, product_article_number, product_count, function (data) {generate_added_message(data)});
            };
        });

        //генерация блока о добавленнии продукта в корзину
        function generate_added_message(data){
            Mustache.tags = ['<%', '%>'];
            var template = document.getElementById('basketMessage').innerHTML,
                rendered_template = Mustache.render(template, data);
            $('.content').prepend(rendered_template);
            $block = $('#added_product_message');
            $block.fadeIn(600, function () {
                function reset_added_product(){
                    $block.fadeOut(600, function () {
                        $('#added_product_message').remove();
                    });
                };
                setTimeout(reset_added_product, 3000);
            });
        }

    </script>
{% endblock %}
