{% extends 'shop_template.html' %}
{% block title %}room{% endblock %}
{% block content %}
    {% for room_place in room_places %}
        <h2>{{ room_place.title }}</h2>
        {% for room_example in rooms_examples %}
                {% if room_place == room_example.room_place %}
                    <p>{{ room_example.title }}</p>
                    {% for image in images %}
                        {% if image.example == room_example %}
                            <img src="{{ image.image.url }}">
                        {% endif %}
                    {% endfor %}
                {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}