{% extends 'shop_template.html' %}
{% block title %}room{% endblock %}
{% block content %}
    {% for room_example in roomExamples %}
        {% for image in examplesImages %}
            {% if image.example == room_example %}
	            <div class="grid" id="room-page">
		            <a href="{% url 'exampleDetail' unique_identificator%}"><img src="{{ image.image.url }}" alt="{{ image.title }}"></a>
	            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}