{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
    <script src="{% static 'css3-mediaqueries.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ikea.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'mask.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<div class="loader" id="load">
	<h1 data-content="IKEA">IKEA</h1>
</div>

{% block message %}{% endblock %}

<!--Top menu-->
<div class="container-fluid" id="top-strip">
    <div class="row">
        <div class="grid">
            <p style="float: left; text-align: left;"><a href="#">Контакты</a> | <a href="#">Доставка</a></p>
            <p style="float: right; text-align: right;">Связь | +380996823781</p>
        </div>
    </div>
</div>
<!--Content-->
<div class="content">
<!--Logo/Shoping Cart/Price/Search-->
<div class="container-fluid">
    <div class="row">
        <div class="grid">
            <!-- <img class="logo" src="{% static 'images/ikea-logo.png' %}"> -->
            <div class="price-search">
				<i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <img class="money-icon" src="{% static 'icons/uah-cash-icon.png' %}">
				<h6 class="price"> 999.99</h6>
                <input class="search-form" placeholder="Поиск..." />
                <!--ясику задание-->
                <ul id="searched_query" style="overflow: scroll; max-height: 100px;"></ul>

            </div>
        </div>
    </div>
</div>

<!--Menu-->
<nav class="navbar navbar-expand-sm navbar-light grid" id="menu-button">
    <button class="navbar-toggler" onclick="open_categories()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link" href="{% url 'catalogue' %}">Главная</a>
        <a class="nav-link" id="categories_menu" href="#" onclick="open_categories()">Товары<br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <a class="nav-link" id="open_room_menu" href="#" >Комнаты<br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <a class="nav-link" href="#">Акции</a>
    </div>
</nav>

<script>
    $('body').on('mouseenter', '#open_room_menu', function () {
        $('#room-menu').fadeIn(600);
    } ).on('mouseleave', '#open_room_menu', function (event) {
        if (document.getElementById('room-menu') == event.target){
            console.log('наведено на меню');
        } else {$('#room-menu').fadeOut(600);}
    });

</script>

<!--Dropdown-->
<div class="grid" id="dropdown-products">
	<!--Product List-->
	<ul id="product-list">
            {% for category in Categories %}
                <li onclick="open_subcategory({{ category.id }})"><btn href="#" id="{{ category.id }}">{{ category.title }}<i class="fa fa-chevron-right" aria-hidden="true"></i></btn></li>
            {% endfor %}
    </ul>
    <!--Kategories-->
    <ul id="product-categories">
        {% for category in Categories %}
            {% for subcategory in SubCategories %}
                {% if subcategory.category == category %}
                    <li data-category_id="{{ category.id }}" onclick="window.location.href = '{% url 'getOneCategoryProducts' subcategory.unique_identificator %}'">{{ subcategory.title }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>

﻿<!--Room Menu-->
<div class="grid" id="room-menu">
    {% for room in Rooms %}
        <div class="room-item">
		<img class="room-image" src="{{ room.image.url }}" alt="{{ room.title }}">
		<p class="room-title">{{ room.title }}</p>
		<div class="room-drop">
            {% for room_place in RoomsPlaces %}
                {% if room_place.room == room %}
                    <a href="{% url 'roomPlaceDetail' room_place.unique_identificator %}">{{ room_place.title }}</a>
                {% endif %}
            {% endfor %}
		</div>
	</div>
    {% endfor %}
</div>

<!--Kategories And Sort-->
<div class="grid">
    <div class="kat-sort">
        {% block path %}{% endblock %}
        <!--Sort-->
    {% if is_filtered %}
        <select id="get_sort">
            <option>Выбор сортировки</option>
            <option value="increase">От дешевых к дорогим</option>
            <option value="decline">От дорогих к дешевым</option>
            <option value="from_A_to_Z">От A до Z</option>
            <option value="from_Z_to_A">От Z до А</option>
        </select>
    {% endif %}
    </div>
</div>

{% csrf_token %}
{% block content %}{% endblock %}
</div>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 myCols">
                <h5>Информация</h5>
                <ul>
                    <li><a href="#">Policy Privacy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                <h5>О нас</h5>
                <ul>
                    <li><a href="#">Информация о компании</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                <h5>Обслуживание Клиентов</h5>
                <ul>
                    <li><a href="#">Тел: +380-93-251-02-13</a></li>
                    <li><a href="#">Email: info@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-networks">
        <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="vk"><i class="fa fa-vk"></i></a>
    </div>
    <div class="footer-copyright">
        <p>© Inter IKEA Systems B.V. 1999 — 2017 | Юридическая информация | Положение об обработке и защите персональных данных | Информация для потребителей о мебельной продукции</p>
    </div>
</footer>

<!--основные скрипты-->
<script>
    tags_list = ['#dropdown-products', '#product-categories li', 'product-categories'];
    hide_tags(tags_list);

    function open_categories() {
        $('#dropdown-products').toggle();
    };
    function open_subcategory(category_id){
        $('#product-categories').find('li').hide();
        $('#product-categories').show();
        $('li[data-category_id="' + category_id + '"]').show()
    };
</script>

<!-- search template -->
<script type="text/js-render" id="searchTemplate">
    <li onclick='document.location.href="/shop/product_detail/product=<%product_article_number%>"'><img src="<%image_url%>" style="height:50px; width:50px;"><p><%product_title%>, <%product_article_number%></p></li>
</script>

<script>
    $(document).ready(function () {
        //ajax search
        $('.search-form').keyup(function () {
           if ($(this).val().length>=3){
               var token = $('input[name="csrfmiddlewaretoken"]').val(),
                   template = document.getElementById('searchTemplate').innerHTML;
               search($(this).val(), token, template);
           }
        });
    })
</script>

{% block onload_js %}{% endblock %}

</body>
</html>
