{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
    <script src="{% static 'css3-mediaqueries.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/ikea.css' %}">
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'mask.js' %}"></script>
    {% block js %}{% endblock %}
</head>
<div class="loader" id="load">
	<h1 data-content="IKEA">IKEA</h1>
</div>

{% block message %}{% endblock %}

<!--Top menu-->
<div class="container-fluid" id="top-strip">
    <div class="row">
        <div class="grid">
            <p style="float: left; text-align: left;"><a href="#">Контакты</a> | <a href="#">Доставка</a></p>
            <p style="float: right; text-align: right;">Связь | +380996823781</p>
        </div>
    </div>
</div>
<!--Content-->
<div class="content">
<!--Logo/Shoping Cart/Price/Search-->
<div class="container-fluid">
    <div class="row">
        <div class="grid">
            <!-- <img class="logo" src="{% static 'images/ikea-logo.png' %}"> -->
            <div class="price-search">
                <div class="prc-basket">
                    <i class="fa fa-shopping-basket" aria-hidden="true" onclick="document.location.href='{% url "show_basket" %}'"><div class="amount-circle">{{ product_count }}</div><span class="price" id="price">{{ order_price }} грн.</span></i>
				</div>
                <input class="search-form" placeholder="Поиск..." />
                <ul id="searched_query"></ul>

            </div>
        </div>
    </div>
</div>

<!--Menu-->
<nav class="navbar navbar-expand-sm navbar-light grid" id="menu-button">
    <button id="mobile_menu_open" class="navbar-toggler" onclick="open_categories()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="nav-link" href="{% url 'catalogue' %}">Главная</a>
        <a class="nav-link" id="categories_menu" href="#">Товары<br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <a class="nav-link" id="open_room_menu" href="#" >Комнаты<br><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <a class="nav-link" href="#">Акции</a>
    </div>
</nav>

<!--Dropdown-->
<div class="grid nav-cat" id="dropdown-products">
	<!--Product List-->
	<ul id="product-list">
    <li id="to_menu">Назад в меню</li>
            {% for category in Categories %}
                <li class="category_el" data-category_id="{{ category.id }}" onclick="open_subcategories({{ category.id }})"><btn href="#" id="{{ category.id }}">{{ category.title }}<i class="fa fa-chevron-right" aria-hidden="true"></i></btn></li>
            {% endfor %}
    </ul>
    <!--Kategories-->
    <ul id="product-categories">
        <li id="to_categories">Назад к категориям</li>
        {% for category in Categories %}
            {% for subcategory in SubCategories %}
                {% if subcategory.category == category %}
                    <li data-category_id="{{ category.id }}" onclick="window.location.href = '{% url 'getOneCategoryProducts' subcategory.unique_identificator %}'">{{ subcategory.title }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>

﻿<!--Room Menu-->
<div class="grid nav-cat" id="room-menu">
    {% for room in Rooms %}
        <div class="room-item">
		<img class="room-image" src="{{ room.image.url }}" alt="{{ room.title }}">
		<p class="room-title">{{ room.title }}</p>
		<div class="room-drop">
            {% for room_place in RoomsPlaces %}
                {% if room_place.room == room %}
                    <a href="{% url 'roomPlaceDetail' room_place.unique_identificator %}">{{ room_place.title }}</a>
                {% endif %}
            {% endfor %}
		</div>
	</div>
    {% endfor %}
</div>

<!--Kategories And Sort-->
{% if is_filtered %}
<div class="grid">
    <div class="kat-sort">
        {% block path %}{% endblock %}
        <!--Sort-->
        <select id="get_sort">
            <option>Выбор сортировки</option>
            <option value="increase">От дешевых к дорогим</option>
            <option value="decline">От дорогих к дешевым</option>
            <option value="from_A_to_Z">От A до Z</option>
            <option value="from_Z_to_A">От Z до А</option>
        </select>
    </div>
</div>
{% endif %}

{% csrf_token %}

    ﻿<!--Big Images-->
    <div class="img-block">
		<em class="fa fa-times close-icon" id="close_images_icon" aria-hidden="true"></em>
		<div class="mini-img-list"></div>
		<div class="big-image"></div>
 	</div>

{% block content %}{% endblock %}
</div>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 myCols">
                <h5>Информация</h5>
                <ul>
                    <li><a href="#">Policy Privacy</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                <h5>О нас</h5>
                <ul>
                    <li><a href="#">Информация о компании</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </div>
            <div class="col-sm-4 myCols">
                <h5>Обслуживание Клиентов</h5>
                <ul>
                    <li><a href="#">Тел: +380-93-251-02-13</a></li>
                    <li><a href="#">Email: info@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-networks">
        <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="vk"><i class="fa fa-vk"></i></a>
    </div>
    <div class="footer-copyright">
        <p>© Inter IKEA Systems B.V. 1999 — 2017 | Юридическая информация | Положение об обработке и защите персональных данных | Информация для потребителей о мебельной продукции</p>
    </div>
</footer>

{% block templates %}{% endblock %}

<!--основные скрипты-->
<script>
    tags_list = ['#product-categories li', '#product-categories', '#product-list'];
    hide_tags(tags_list);

    if ($(window).width() <= 540) {
        //открытие меню в мобильной версиии
        //изменение ширины экрана
        $('body').on('click', '#mobile_menu_open', function () {
            $('#navbarNav').show();
        });

        $('body').on('click', '#categories_menu', function () {
            $('#navbarNav').hide();
            $('#product-list').show();
        });

        $('body').on('click', '#open_room_menu', function () {
            $('#navbarNav').hide();
            $('#room-menu').show();
        });

        $('body').on('click', '.category_el', function () {
            $('#product-list').hide();
            var category_id = $(this).data('category_id');
            $('#product-categories li[data-category_id="' + category_id + '"]').show();
            $('#product-categories').show();
        });

    } else {
        //laptop
        $('body').on('click', '#categories_menu', function () {
            hide_tags(['.nav-cat']);
            $('#dropdown-products').fadeToggle(300);
        });
        $('#dropdown-products').mouseleave(function () {
           $(this).fadeOut(300);
        });

        $('body').on('click', '#open_room_menu', function () {
            hide_tags(['.nav-cat']);
            $('#room-menu').fadeToggle(300);
        });

        $('#room-menu').mouseleave(function () {
            $(this).fadeOut(300);
        });
    }

    $(window).resize(function () {
       if ($(window).width() <= 540){}
    });

    /*function open_subcategories(id){
            $('#product-categories li').hide();
            $('#product-categories li[data-category_id="'+ id +'"]').show();
            $('#product-categories').fadeIn(300);
        }*/


</script>

<!-- search template -->
<script type="text/js-render" id="searchTemplate">
    <li onclick='document.location.href="/product_detail/product=<%product_article_number%>"'><img src="<%image_url%>" style="height:50px; width:50px;"><p><%product_title%>, <%article_number_with_dot%></p></li>
</script>

<script>
    $(document).ready(function () {
        //ajax search
        $('.search-form').keyup(function () {
           if ($(this).val().length>=3){
               var token = $('input[name="csrfmiddlewaretoken"]').val(),
                   template = document.getElementById('searchTemplate').innerHTML;
               search($(this).val(), token, template);
           }
        });
    });

    tags_list = ['.img-block', '.get-all-images'];
    hide_tags(tags_list);
    hover_product_card();
    //ajax загрузка изображений артикула
        $('body').on('click', '.get-all-images', function (){
            var token = $('input[name="csrfmiddlewaretoken"]').val();
            var unique_identificator = $(this).data('unique_identificator');
            console.log(unique_identificator);

            $.ajax({
                url: "{% url 'get_all_product_images' %}",
                method: 'post',
                data: {
                    'csrfmiddlewaretoken':token,
                    'unique_identificator':unique_identificator
                },
                success: function (data) {
                    $block_to_paste_images = $('.img-block');
                    $block_to_paste_images.slideDown(function () {
                        $('.big-image').append('<img class="big-img-item" src="' + data.images[0] + '" alt="#">');
                        for (i=0; i<data.images.length; i++) {
                            $('.mini-img-list').append('<img class="mini-img" src="' + data.images[i] + '" alt="#">');
                    };

                    });
                }

            });

            //клик на маленькое изображение и загрузка большого
            $('.img-block').on('click', '.mini-img', function() {
                var img=$(this);
                $('.big-img-item').attr('src', img.attr('src'));
            });

            //закрытие блока с загруженными изображениями
            $('#close_images_icon').click(function () {
                console.log('ok');
                $('.img-block').find('img').remove();
                $('.img-block').slideUp();
            });
        });
</script>

{% block onload_js %}
{% endblock %}

</body>
</html>
