{% extends 'shop_template.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    {% for product in products %}
        <p>
            {% for image in images %}
                {% for product_image in image.product.all %}
                    {% if product_image == product.product %}
                        <img src="{{ image.image.url }}">
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <h4>{{ product.product.title }}</h4>{{ product.product.article_number }}, количество <h4>{{ product.count }} шт., <h3>{{ product.product.price }}</h3></h4>
        </p>
    {% endfor %}
{% endblock %}