{% extends 'shop_template.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    {% if ExistError %}<h3>Ваша корзина пуста</h3>

    {% else %}
    <div id="order" data-order_unique_identificator="{{ order.unique_identificator }}">
    <h3>Уникальный идентификатор заказа: <span>{{ order.unique_identificator }}</span></h3>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>НАЗВАНИЕ</th>
            <th>АРТИКУЛ</th>
            <th>КОЛ-ВО</th>
            <th>ЦЕНА ЗА ЕДИНИЦУ</th>
            <th>СУММА</th>
        </tr>
        {% for product in products %}
            <tr id="product_card" data-product_unique_identificator="{{ product.product.unique_identificator }}">
                <td><button value="delete"
                onclick="delete_product_from_basket(event, $('#order').data('order_unique_identificator'),
                                                    $(this).parents('#product_card').data('product_unique_identificator'))">
                </button></td>
                {% for image in images %}
                    {% for product_image in image.product.all %}
                        {% if product_image == product.product %}
                            <td><img src="{{ image.image.url }}"></td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <td>{{ product.product.title }}</td>
                <td>{{ product.product.article_number }}</td>
                <td><input type="number" value="{{ product.count }}" id="product_count"> шт.</td>
                <td id="price_per_one">{{ product.price_per_one }}</td>
                <td id="price">{{ product.price }}</td>
            </tr>
        {% endfor %}

        {{ order.order_price }}, status {{ order.status }}
    </table>
    </div>
    {% endif %}
{% endblock %}

{% block onload_js %}
    <script>
        $('#order').on('change', '#product_count', function () {
            var product_unique_identificator = $(this).parents('#product_card').data('product_unique_identificator'),
                order_unique_identificator = $(this).parents('#order').data('order_unique_identificator'),
                count = $(this).val(),
                token = $('input[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                url:'{% url "change_product" %}',
                method:'POST',
                data:{
                    "csrfmiddlewaretoken":token,
                    "product_unique_identificator":product_unique_identificator,
                    "order_unique_identificator":order_unique_identificator,
                    "count":count,
                },
                success:function (data) {
                    console.log(data.success_message);
                    refresh_page_info($(this));
                },
                error:function () {
                    console.log('error')
                },
            })
        });

        function refresh_page_info(object){
            $parent_object = object.parents('#product_card');
            var count = $parent_object.find('#product_count').val();
            $parent_object.find('#price').val(count * $parent_object.find('#price_per_one'));
        };

        function delete_product_from_basket(e, order_unique_identificator, product_unique_identificator) {
            e.preventDefault();
            var order_identificator = order_unique_identificator,
                product_identificator = product_unique_identificator,
                token = $('input[name="csrfmiddlewaretoken"]').val();
            console.log(order_identificator, '+', product_identificator);

            $.ajax({
                url:'{% url 'delete_product_from_basket' %}',
                method:'POST',
                data:{
                    'csrfmiddlewaretoken':token,
                    'product_identificator':product_identificator,
                    'order_identificator':order_identificator,
                },
                success: function (data) {
                    $('#product_card[data-product_unique_identificator="' + product_identificator + '"]').slideUp(600, function () {
                        $(this).remove()
                    });
                },
                error: function () {
                    console.log('error')
                }
            })

        }


    </script>
{% endblock %}