{% extends 'shop_template.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
    {% if ExistError %}<h3>Ваша корзина пуста</h3>

    {% else %}
        <div id="order" data-order_unique_identificator="{{ order.unique_identificator }}"></div>
        <div class="grid" id="cart">
            {% for product in products %}
                <div id="cart-item" class="product_card" data-product_unique_identificator="{{ product.product.unique_identificator }}">
                    {% for image in images %}
                            {% for product_image in image.product.all %}
                                {% if product_image == product.product %}
                                    <img src="{{ image.image.url }}">
                                {% endif %}
                            {% endfor %}
                    {% endfor %}<a>{{ product.product.title }}<br>{{ product.product.article_number }}</a>
                    <div class="amount-cart"><h6>Количество:</h6><input type="number" value="{{ product.count }}" id="product_count" placeholder="Количество..."><h6>шт.</h6></div>
                    <div class="cart-price"><h6>Цена: <br> {{ product.product.price }} грн.</h6></div>
                    <div class="cart-total"><h6>Сумма: <br> {{ product.price }}грн.</h6></div>
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </div>
            {% endfor %}
            <div id="cart-offer">
                <h6>Сумма: {{ order.order_price }} грн.</h6>
                    <div class="button-item">
                        <a href="" class="btn-1">Оформить заказ</a>
                    </div>
                    <div class="button-item-2">
                        <a href="" class="btn-1">Обновить</a>
                    </div>
            </div>
        </div>

    <div id="order" data-order_unique_identificator="{{ order.unique_identificator }}">
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>НАЗВАНИЕ</th>
            <th>АРТИКУЛ</th>
            <th>КОЛ-ВО</th>
            <th>ЦЕНА ЗА ЕДИНИЦУ</th>
            <th>СУММА</th>
        </tr>
        {% for product in products %}
            <tr id="product_card" data-product_unique_identificator="{{ product.product.unique_identificator }}" class="product_card">
                <td><button value="delete"
                onclick="delete_product_from_basket(event, $('#order').data('order_unique_identificator'),
                                                    $(this).parents('#product_card').data('product_unique_identificator'))">
                </button></td>
                {% for image in images %}
                    {% for product_image in image.product.all %}
                        {% if product_image == product.product %}
                            <td><img src="{{ image.image.url }}"></td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <td>{{ product.product.title }}</td>
                <td>{{ product.product.article_number }}</td>
                <td><input type="number" value="{{ product.count }}" id="product_count"> шт.</td>
                <td id="price_per_one">{{ product.price_per_one }} грн</td>
                <td id="price">{{ product.price }} грн</td>
            </tr>
        {% endfor %}
        <tr id="order_info"><td></td><td></td><td></td><td></td><td></td><td>СУММА</td><td>{{ order.order_price }} грн</td></tr>
    </table>
    </div>

    <button onclick="document.location.href='{% url "order_registration" %}'">перейти к оформлению заказа</button>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/productInOrder" id="product_in_order_template">
        <div id="cart-item" class="product_card" data-product="<%article_number%>">
            <img src="<%image_url%>">
            <a><%product_title%><br><%article_number%></a>
            <div class="amount-cart"><h6>Количество:</h6><input type="number" value="<%count%>" id="product_count" placeholder="Количество..."><h6>шт.</h6></div>
            <div class="cart-price"><h6>Цена: <br> <%price_per_one%> грн.</h6></div>
            <div class="cart-total"><h6>Сумма: <br> <%price%>грн.</h6></div>
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
    </script>

    <script type="text/orderTemplate" id="order_template">
        <div id="cart-offer">
                <h6>Сумма: <%summ%> грн.</h6>
            <div class="button-item">
                <a href="" class="btn-1">Оформить заказ</a>
            </div>
            <div class="button-item-2">
                <a href="" class="btn-1">Обновить</a>
            </div>
        </div>
    </script>
{% endblock %}

{% block onload_js %}
    <script>
        $('#cart').on('change', '#product_count', function () {
            if ($(this).val() == 0){
                console.log($(this).val());
                $(this).val('');
                alert('Введите правильно количество')
            } else {
                var product_article_number = $(this).parents('.product_card').data('product'),
                count = $(this).val(),
                token = $('input[name="csrfmiddlewaretoken"]').val();
                $.ajax({
                    url:'{% url "change_product" %}',
                    method:'POST',
                    data:{
                        "csrfmiddlewaretoken":token,
                        "product_article_number":product_article_number,
                        "count":count,
                    },
                    success:function (data) {
                        refresh_basket();
                    },
                    error:function () {
                        alert('Ошибка сервера, попробуйте еще раз')
                    },
                })
            }
        });

        function refresh_basket() {
            $.ajax({
                url:'{% url "refresh_basket" %}',
                method:'GET',
                success:function (data) {
                    $('.product_card').remove();
                    $('#cart-offer').remove();
                    var product_template = document.getElementById('product_in_order_template').innerHTML,
                        order_template = document.getElementById('order_template').innerHTML;
                    generate_page(data, product_template, order_template);
                },
                error:function () {
                    alert('Ошибка сервера, попробуйте еще раз')
                },
            })
        }

        function generate_page(data, product_template, order_template) {
            $block_to_paste = $('#cart');
            Mustache.tags = ['<%', '%>'];
            for (i=0; i<data.products.length; i++){
                var query = data.products[i],
                    rendered_data = {
                    'image_url':query.image_url,
                    'article_number':query.article_number,
                    'product_title':query.product_title,
                    'count':query.count,
                    'price_per_one':query.price_per_one,
                    'price':query.price,
                };
                var rendered_html = Mustache.render(product_template, rendered_data);
                $block_to_paste.append(rendered_html);
            }
            var order_info = {'summ':data.order_price},
                rendered_order_info = Mustache.render(order_template, order_info);
                console.log(rendered_order_info);
            $block_to_paste.append(rendered_order_info);
        }

        function delete_product_from_basket(e, order_unique_identificator, product_unique_identificator) {
            e.preventDefault();
            var order_identificator = order_unique_identificator,
                product_identificator = product_unique_identificator,
                token = $('input[name="csrfmiddlewaretoken"]').val();
            console.log(order_identificator, '+', product_identificator);

            $.ajax({
                url:'{% url 'delete_product_from_basket' %}',
                method:'POST',
                data:{
                    'csrfmiddlewaretoken':token,
                    'product_identificator':product_identificator,
                    'order_identificator':order_identificator,
                },
                success: function (data) {
                    $('#product_card[data-product_unique_identificator="' + product_identificator + '"]').slideUp(600, function () {
                        $(this).remove()
                    });
                    refresh_basket();
                },
                error: function () {
                    alert('Ошибка сервера, попробуйте еще раз')
                }
            })

        }


    </script>
{% endblock %}