{% extends 'shop_template.html' %}
{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <div id="order_info">
        <ul>
            <li>Уникальный номер заказа: <b>{{ order.unique_identificator }}</b></li>
            <li>Сумма к оплате: <b>{{ order.order_price }} грн</b></li>
        </ul>
    </div>
   {{ form.as_p }}
{% endblock %}

{% block onload_js %}
    <script>
        $('#id_phone').mask('+380(99)999-99-99');

    $.ajax({
        url:'https://api.novaposhta.ua/v2.0/json/',
        method:"post",
        data:{
            "modelName": "Address",
            "calledMethod": "getCities",
            "methodProperties": {
                "Ref": "ebc0eda9-93ec-11e3-b441-0050568002cf"
            },
            "apiKey": "dad5a89c58e8dfca1c7fb01c43b9bf4c"
        },
        success:function (data) {
            console.log(data);
        },
        error:function () {
            console.log('error')
        }
    })
    </script>
{% endblock %}
