{% extends 'shop_template.html' %}
{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <div id="order_info">
        <ul>
            <li>Уникальный номер заказа: <b>{{ order.unique_identificator }}</b></li>
            <li>Сумма к оплате: <b>{{ order.order_price }} грн</b></li>
        </ul>
    </div>
    <form method="POST" id="order_registration" onsubmit="order_registration(event)">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="заказать">
    </form>
    <input type="submit" value="заказать">
{% endblock %}

{% block onload_js %}
    <script>
        $('#id_phone').mask('+380(99)999-99-99');

        function order_registration(event){
            event.preventDefault();
            var name=$('#id_name').val(),
                sorname=$('#id_sorname').val(),
                phone=$('#id_phone').val(),
                email=$('#id_email').val();
        }


    $.ajax({
        url:'https://api.novaposhta.ua/v2.0/json/',
        method:"post",
        data:{
            "modelName": "AddressGeneral",
            "calledMethod": "getSettlements",
            "methodProperties": {
                "AreaRef": "dcaadb64-4b33-11e4-ab6d-005056801329",
                "Ref": "0e451e40-4b3a-11e4-ab6d-005056801329",
                "RegionRef": "e4ade6ea-4b33-11e4-ab6d-005056801329",
                "Page": "1"
            },
            "apiKey": "dad5a89c58e8dfca1c7fb01c43b9bf4c"
        },
        success:function (data) {
            console.log(data);
        },
        error:function () {
            console.log('error')
        }
    })
    </script>
{% endblock %}
