{% extends 'shop_template.html' %}
{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <div id="order_info">
        <ul>
            <li>Уникальный номер заказа: <b>{{ order.unique_identificator }}</b></li>
            <li>Сумма к оплате: <b>{{ order.order_price }} грн</b></li>
        </ul>
    </div>

    <div id="registration_info">
        <button class="open_registration_method">open</button>
        <h3>ДАННЫЕ ЗАКАЗЧИКА</h3>
        <form method="POST" id="order_registration">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="ПЕРЕЙТИ К СЛЕДУЮЩЕМУ ЭТАПУ">
        </form>
    </div>

    <div id="registration_delivery">
        <button class="open_registration_method">open</button>
        <h3>СПОСОБ ДОСТАВКИ</h3>
        <form method="POST" id="delivery_method">{% csrf_token %}
            <label for="city">Город</label>{{ DeliveryMethodForm.city }}
            <label for="delivery_method">Почта</label>{{ DeliveryMethodForm.delivery_method }}
            <label for="adres">Адрес отделения</label>{{ DeliveryMethodForm.adres }}
            <label for="department_number">Номер отделения</label>{{ DeliveryMethodForm.department_number }}
            <input type="submit" value="ПЕРЕЙТИ К СЛЕДУЮЩЕМУ ЭТАПУ">
        </form>
    </div>

    <div id="registration_payment">
        <button class="open_registration_method">open</button>
        <h3>СПОСОБ ОПЛАТЫ</h3>
        <form method="POST" id="payment_method">{% csrf_token %}
            <label for="payment_method">Метод оплаты</label>{{ PaymentMethodForm.payment_method }}
            <label for="amount">Сумма</label>{{ PaymentMethodForm.amount }}
            <input type="submit" value="ПЕРЕЙТИ К СЛЕДУЮЩЕМУ ЭТАПУ">
        </form>
    </div>
{% endblock %}

{% block onload_js %}
    <script>
        $('#id_phone').mask('+380(99)999-99-99');
        hide_tags(['#registration_delivery', '#registration_payment']);

        $('.open_registration_method').click(function () {
           $(this).siblings('form').slideToggle();
        });

        $('#order_registration').submit(function (event) {
            event.preventDefault();
            window.registration_data = {};
            window.registration_data['name']=$(this).find('#id_name').val();
            window.registration_data['second_name']=$(this).find('#id_second_name').val();
            window.registration_data['sorname']=$(this).find('#id_sorname').val();
            window.registration_data['phone']=$(this).find('#id_phone').val();
            window.registration_data['email']=$(this).find('#id_email').val();
            if ($(this).find('#id_attentions') != ''){
                window.registration_data['attentions'] = $(this).find('#id_attentions').val();
            }
            $(this).slideUp();
            $('#registration_delivery').slideDown();
            console.log(window.registration_data);
        });

        $('#delivery_method').submit(function (event) {
            event.preventDefault();
            window.registration_data['delivery_method']=$('#delivery_method select :selected').val();
            window.registration_data['city']=$('#id_city').val();
            window.registration_data['adres']=$('#id_adres').val();
            window.registration_data['department_number']=$('#id_department_number').val();
            $(this).slideUp();
            $('#registration_payment').slideDown();
        });

        $('#payment_method').submit(function (event) {
            event.preventDefault();
            window.registration_data['payment_method']=$(this).find('select :selected').val();
            window.registration_data['amount']=$(this).find('#id_amount').val();
            $(this).slideUp();
            console.log(window.registration_data);
        });

        $('#delivery_method').change(function () {
            var selected_val = $(this).find('select :selected').val();
            console.log(selected_val);
            if (selected_val=='1' || selected_val=="3" || selected_val=='5' || selected_val=='7'){
                 $('#id_department_number').attr('disabled', true);
            } else {
                $('#id_department_number').attr('disabled', false);
            }
        });

    $.ajax({
        url:'https://api.novaposhta.ua/v2.0/json/',
        method:"post",
        data:{
            "modelName": "AddressGeneral",
            "calledMethod": "getSettlements",
            "methodProperties": {
                "AreaRef": "dcaadb64-4b33-11e4-ab6d-005056801329",
                "Ref": "0e451e40-4b3a-11e4-ab6d-005056801329",
                "RegionRef": "e4ade6ea-4b33-11e4-ab6d-005056801329",
                "Page": "1"
            },
            "apiKey": "dad5a89c58e8dfca1c7fb01c43b9bf4c"
        },
        success:function (data) {
            console.log(data);
        },
        error:function () {
            console.log('error')
        }
    })
    </script>
{% endblock %}
